simias/src/WebService/Simias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://novell.com/simias/web/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/simias/web/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/simias/web/">
      <s:element name="AddMemberToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PublicKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GivenName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMemberToDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveMemberFromDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMemberFromDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindCloseMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCloseMembersResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindFirstMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MemberInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ObjectID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GivenName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessRights" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOwner" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMemberInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberInfo" nillable="true" type="s0:MemberInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindFirstMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindFirstMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfMemberInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="totalMembers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFirstSpecificMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="operation" type="s0:SearchType" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SearchType">
        <s:restriction base="s:string">
          <s:enumeration value="Equal" />
          <s:enumeration value="Not_Equal" />
          <s:enumeration value="Begins" />
          <s:enumeration value="Ends" />
          <s:enumeration value="Contains" />
          <s:enumeration value="Greater" />
          <s:enumeration value="Less" />
          <s:enumeration value="Greater_Equal" />
          <s:enumeration value="Less_Equal" />
          <s:enumeration value="Exists" />
          <s:enumeration value="CaseEqual" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FindFirstSpecificMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindFirstSpecificMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfMemberInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="totalMembers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindNextMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfMemberInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPreviousMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPreviousMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindPreviousMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfMemberInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSimiasInformation">
        <s:complexType />
      </s:element>
      <s:element name="GetSimiasInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSimiasInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DomainInformation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s0:DomainType" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Authenticated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemoteUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POBoxID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSlave" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDefault" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s0:StatusCodes" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DomainType">
        <s:restriction base="s:string">
          <s:enumeration value="Master" />
          <s:enumeration value="Slave" />
          <s:enumeration value="Local" />
          <s:enumeration value="None" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="StatusCodes">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="SuccessInGrace" />
          <s:enumeration value="UnknownUser" />
          <s:enumeration value="AmbiguousUser" />
          <s:enumeration value="InvalidCredentials" />
          <s:enumeration value="InvalidPassword" />
          <s:enumeration value="AccountDisabled" />
          <s:enumeration value="AccountLockout" />
          <s:enumeration value="UnknownDomain" />
          <s:enumeration value="InternalException" />
          <s:enumeration value="MethodNotSupported" />
          <s:enumeration value="Timeout" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetDomainInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainInformationResult" type="s0:DomainInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomains">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="onlySlaves" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDomainInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DomainInformation" nillable="true" type="s0:DomainInformation" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDomainsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainsResult" type="s0:ArrayOfDomainInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginToRemoteDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="statusCode" type="s0:StatusCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DistinguishedUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalGraceLogins" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RemainingGraceLogins" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginToRemoteDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginToRemoteDomainResult" type="s0:Status" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutFromRemoteDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutFromRemoteDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutFromRemoteDomainResult" type="s0:Status" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableDomainAutoLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableDomainAutoLoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsDomainActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsDomainActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsDomainActiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDomainActiveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainInactive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainInactiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetDomainInactiveResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidCredentialsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDomainCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s0:CredentialType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CredentialType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="NotRequired" />
          <s:enumeration value="Basic" />
          <s:enumeration value="PPK" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetDomainCredentialsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDomainCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDomainCredentialsResult" type="s0:CredentialType" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectToDomainResult" type="s0:DomainInformation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaveDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LocalOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaveDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetDefaultDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultDomainResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultDomainID">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultDomainIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultDomainIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="AddMemberToDomainSoapIn">
    <part name="parameters" element="s0:AddMemberToDomain" />
  </message>
  <message name="AddMemberToDomainSoapOut">
    <part name="parameters" element="s0:AddMemberToDomainResponse" />
  </message>
  <message name="RemoveMemberFromDomainSoapIn">
    <part name="parameters" element="s0:RemoveMemberFromDomain" />
  </message>
  <message name="RemoveMemberFromDomainSoapOut">
    <part name="parameters" element="s0:RemoveMemberFromDomainResponse" />
  </message>
  <message name="FindCloseMembersSoapIn">
    <part name="parameters" element="s0:FindCloseMembers" />
  </message>
  <message name="FindCloseMembersSoapOut">
    <part name="parameters" element="s0:FindCloseMembersResponse" />
  </message>
  <message name="FindFirstMembersSoapIn">
    <part name="parameters" element="s0:FindFirstMembers" />
  </message>
  <message name="FindFirstMembersSoapOut">
    <part name="parameters" element="s0:FindFirstMembersResponse" />
  </message>
  <message name="FindFirstSpecificMembersSoapIn">
    <part name="parameters" element="s0:FindFirstSpecificMembers" />
  </message>
  <message name="FindFirstSpecificMembersSoapOut">
    <part name="parameters" element="s0:FindFirstSpecificMembersResponse" />
  </message>
  <message name="FindNextMembersSoapIn">
    <part name="parameters" element="s0:FindNextMembers" />
  </message>
  <message name="FindNextMembersSoapOut">
    <part name="parameters" element="s0:FindNextMembersResponse" />
  </message>
  <message name="FindPreviousMembersSoapIn">
    <part name="parameters" element="s0:FindPreviousMembers" />
  </message>
  <message name="FindPreviousMembersSoapOut">
    <part name="parameters" element="s0:FindPreviousMembersResponse" />
  </message>
  <message name="GetSimiasInformationSoapIn">
    <part name="parameters" element="s0:GetSimiasInformation" />
  </message>
  <message name="GetSimiasInformationSoapOut">
    <part name="parameters" element="s0:GetSimiasInformationResponse" />
  </message>
  <message name="GetDomainInformationSoapIn">
    <part name="parameters" element="s0:GetDomainInformation" />
  </message>
  <message name="GetDomainInformationSoapOut">
    <part name="parameters" element="s0:GetDomainInformationResponse" />
  </message>
  <message name="GetDomainsSoapIn">
    <part name="parameters" element="s0:GetDomains" />
  </message>
  <message name="GetDomainsSoapOut">
    <part name="parameters" element="s0:GetDomainsResponse" />
  </message>
  <message name="LoginToRemoteDomainSoapIn">
    <part name="parameters" element="s0:LoginToRemoteDomain" />
  </message>
  <message name="LoginToRemoteDomainSoapOut">
    <part name="parameters" element="s0:LoginToRemoteDomainResponse" />
  </message>
  <message name="LogoutFromRemoteDomainSoapIn">
    <part name="parameters" element="s0:LogoutFromRemoteDomain" />
  </message>
  <message name="LogoutFromRemoteDomainSoapOut">
    <part name="parameters" element="s0:LogoutFromRemoteDomainResponse" />
  </message>
  <message name="DisableDomainAutoLoginSoapIn">
    <part name="parameters" element="s0:DisableDomainAutoLogin" />
  </message>
  <message name="DisableDomainAutoLoginSoapOut">
    <part name="parameters" element="s0:DisableDomainAutoLoginResponse" />
  </message>
  <message name="IsDomainActiveSoapIn">
    <part name="parameters" element="s0:IsDomainActive" />
  </message>
  <message name="IsDomainActiveSoapOut">
    <part name="parameters" element="s0:IsDomainActiveResponse" />
  </message>
  <message name="SetDomainActiveSoapIn">
    <part name="parameters" element="s0:SetDomainActive" />
  </message>
  <message name="SetDomainActiveSoapOut">
    <part name="parameters" element="s0:SetDomainActiveResponse" />
  </message>
  <message name="SetDomainInactiveSoapIn">
    <part name="parameters" element="s0:SetDomainInactive" />
  </message>
  <message name="SetDomainInactiveSoapOut">
    <part name="parameters" element="s0:SetDomainInactiveResponse" />
  </message>
  <message name="ValidCredentialsSoapIn">
    <part name="parameters" element="s0:ValidCredentials" />
  </message>
  <message name="ValidCredentialsSoapOut">
    <part name="parameters" element="s0:ValidCredentialsResponse" />
  </message>
  <message name="SetDomainCredentialsSoapIn">
    <part name="parameters" element="s0:SetDomainCredentials" />
  </message>
  <message name="SetDomainCredentialsSoapOut">
    <part name="parameters" element="s0:SetDomainCredentialsResponse" />
  </message>
  <message name="GetDomainCredentialsSoapIn">
    <part name="parameters" element="s0:GetDomainCredentials" />
  </message>
  <message name="GetDomainCredentialsSoapOut">
    <part name="parameters" element="s0:GetDomainCredentialsResponse" />
  </message>
  <message name="ConnectToDomainSoapIn">
    <part name="parameters" element="s0:ConnectToDomain" />
  </message>
  <message name="ConnectToDomainSoapOut">
    <part name="parameters" element="s0:ConnectToDomainResponse" />
  </message>
  <message name="LeaveDomainSoapIn">
    <part name="parameters" element="s0:LeaveDomain" />
  </message>
  <message name="LeaveDomainSoapOut">
    <part name="parameters" element="s0:LeaveDomainResponse" />
  </message>
  <message name="SetDefaultDomainSoapIn">
    <part name="parameters" element="s0:SetDefaultDomain" />
  </message>
  <message name="SetDefaultDomainSoapOut">
    <part name="parameters" element="s0:SetDefaultDomainResponse" />
  </message>
  <message name="GetDefaultDomainIDSoapIn">
    <part name="parameters" element="s0:GetDefaultDomainID" />
  </message>
  <message name="GetDefaultDomainIDSoapOut">
    <part name="parameters" element="s0:GetDefaultDomainIDResponse" />
  </message>
  <portType name="Simias_x0020_Web_x0020_ServiceSoap">
    <operation name="AddMemberToDomain">
      <documentation>Add a member to the domain.</documentation>
      <input message="s0:AddMemberToDomainSoapIn" />
      <output message="s0:AddMemberToDomainSoapOut" />
    </operation>
    <operation name="RemoveMemberFromDomain">
      <documentation>Remove a member from the domain.</documentation>
      <input message="s0:RemoveMemberFromDomainSoapIn" />
      <output message="s0:RemoveMemberFromDomainSoapOut" />
    </operation>
    <operation name="FindCloseMembers">
      <documentation>Ends the search for the members in a specified domain.</documentation>
      <input message="s0:FindCloseMembersSoapIn" />
      <output message="s0:FindCloseMembersSoapOut" />
    </operation>
    <operation name="FindFirstMembers">
      <documentation>Start the search for all of the members in a specified domain.</documentation>
      <input message="s0:FindFirstMembersSoapIn" />
      <output message="s0:FindFirstMembersSoapOut" />
    </operation>
    <operation name="FindFirstSpecificMembers">
      <documentation>Start the search for specific members in a specified domain.</documentation>
      <input message="s0:FindFirstSpecificMembersSoapIn" />
      <output message="s0:FindFirstSpecificMembersSoapOut" />
    </operation>
    <operation name="FindNextMembers">
      <documentation>Continues the search for the next members in a specified domain.</documentation>
      <input message="s0:FindNextMembersSoapIn" />
      <output message="s0:FindNextMembersSoapOut" />
    </operation>
    <operation name="FindPreviousMembers">
      <documentation>Continues the search for the previous members in a specified domain.</documentation>
      <input message="s0:FindPreviousMembersSoapIn" />
      <output message="s0:FindPreviousMembersSoapOut" />
    </operation>
    <operation name="GetSimiasInformation">
      <documentation>GetSimiasInformation</documentation>
      <input message="s0:GetSimiasInformationSoapIn" />
      <output message="s0:GetSimiasInformationSoapOut" />
    </operation>
    <operation name="GetDomainInformation">
      <documentation>GetDomainInformation</documentation>
      <input message="s0:GetDomainInformationSoapIn" />
      <output message="s0:GetDomainInformationSoapOut" />
    </operation>
    <operation name="GetDomains">
      <documentation>Get a list of local domains</documentation>
      <input message="s0:GetDomainsSoapIn" />
      <output message="s0:GetDomainsSoapOut" />
    </operation>
    <operation name="LoginToRemoteDomain">
      <documentation>Login or authenticate to a remote domain</documentation>
      <input message="s0:LoginToRemoteDomainSoapIn" />
      <output message="s0:LoginToRemoteDomainSoapOut" />
    </operation>
    <operation name="LogoutFromRemoteDomain">
      <documentation>Logout from a remote domain</documentation>
      <input message="s0:LogoutFromRemoteDomainSoapIn" />
      <output message="s0:LogoutFromRemoteDomainSoapOut" />
    </operation>
    <operation name="DisableDomainAutoLogin">
      <documentation>Disable automatic authentication to the specified domain</documentation>
      <input message="s0:DisableDomainAutoLoginSoapIn" />
      <output message="s0:DisableDomainAutoLoginSoapOut" />
    </operation>
    <operation name="IsDomainActive">
      <documentation>WebMethod to check if a domain is active</documentation>
      <input message="s0:IsDomainActiveSoapIn" />
      <output message="s0:IsDomainActiveSoapOut" />
    </operation>
    <operation name="SetDomainActive">
      <documentation>SetDomainActive - enables synchronization to the remote server</documentation>
      <input message="s0:SetDomainActiveSoapIn" />
      <output message="s0:SetDomainActiveSoapOut" />
    </operation>
    <operation name="SetDomainInactive">
      <documentation>SetDomainInactive - disables remote synchronization</documentation>
      <input message="s0:SetDomainInactiveSoapIn" />
      <output message="s0:SetDomainInactiveSoapOut" />
    </operation>
    <operation name="ValidCredentials">
      <documentation>ValidCredentials</documentation>
      <input message="s0:ValidCredentialsSoapIn" />
      <output message="s0:ValidCredentialsSoapOut" />
    </operation>
    <operation name="SetDomainCredentials">
      <documentation>Sets domain credentials in the local store</documentation>
      <input message="s0:SetDomainCredentialsSoapIn" />
      <output message="s0:SetDomainCredentialsSoapOut" />
    </operation>
    <operation name="GetDomainCredentials">
      <documentation>Get the saved credentials from a domain</documentation>
      <input message="s0:GetDomainCredentialsSoapIn" />
      <output message="s0:GetDomainCredentialsSoapOut" />
    </operation>
    <operation name="ConnectToDomain">
      <documentation>Connects to a Domain</documentation>
      <input message="s0:ConnectToDomainSoapIn" />
      <output message="s0:ConnectToDomainSoapOut" />
    </operation>
    <operation name="LeaveDomain">
      <documentation>Removes a domain account from the workstation</documentation>
      <input message="s0:LeaveDomainSoapIn" />
      <output message="s0:LeaveDomainSoapOut" />
    </operation>
    <operation name="SetDefaultDomain">
      <documentation>Change the default domain to the specified domain ID</documentation>
      <input message="s0:SetDefaultDomainSoapIn" />
      <output message="s0:SetDefaultDomainSoapOut" />
    </operation>
    <operation name="GetDefaultDomainID">
      <documentation>Get the ID of the default domain</documentation>
      <input message="s0:GetDefaultDomainIDSoapIn" />
      <output message="s0:GetDefaultDomainIDSoapOut" />
    </operation>
  </portType>
  <binding name="Simias_x0020_Web_x0020_ServiceSoap" type="s0:Simias_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AddMemberToDomain">
      <soap:operation soapAction="http://novell.com/simias/web/AddMemberToDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveMemberFromDomain">
      <soap:operation soapAction="http://novell.com/simias/web/RemoveMemberFromDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindCloseMembers">
      <soap:operation soapAction="http://novell.com/simias/web/FindCloseMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindFirstMembers">
      <soap:operation soapAction="http://novell.com/simias/web/FindFirstMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindFirstSpecificMembers">
      <soap:operation soapAction="http://novell.com/simias/web/FindFirstSpecificMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindNextMembers">
      <soap:operation soapAction="http://novell.com/simias/web/FindNextMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindPreviousMembers">
      <soap:operation soapAction="http://novell.com/simias/web/FindPreviousMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetSimiasInformation">
      <soap:operation soapAction="http://novell.com/simias/web/GetSimiasInformation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDomainInformation">
      <soap:operation soapAction="http://novell.com/simias/web/GetDomainInformation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDomains">
      <soap:operation soapAction="http://novell.com/simias/web/GetDomains" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LoginToRemoteDomain">
      <soap:operation soapAction="http://novell.com/simias/web/LoginToRemoteDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LogoutFromRemoteDomain">
      <soap:operation soapAction="http://novell.com/simias/web/LogoutFromRemoteDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DisableDomainAutoLogin">
      <soap:operation soapAction="http://novell.com/simias/web/DisableDomainAutoLogin" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsDomainActive">
      <soap:operation soapAction="http://novell.com/simias/web/IsDomainActive" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDomainActive">
      <soap:operation soapAction="http://novell.com/simias/web/SetDomainActive" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDomainInactive">
      <soap:operation soapAction="http://novell.com/simias/web/SetDomainInactive" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ValidCredentials">
      <soap:operation soapAction="http://novell.com/simias/web/ValidCredentials" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDomainCredentials">
      <soap:operation soapAction="http://novell.com/simias/web/SetDomainCredentials" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDomainCredentials">
      <soap:operation soapAction="http://novell.com/simias/web/GetDomainCredentials" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConnectToDomain">
      <soap:operation soapAction="http://novell.com/simias/web/ConnectToDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="LeaveDomain">
      <soap:operation soapAction="http://novell.com/simias/web/LeaveDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDefaultDomain">
      <soap:operation soapAction="http://novell.com/simias/web/SetDefaultDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultDomainID">
      <soap:operation soapAction="http://novell.com/simias/web/GetDefaultDomainID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Simias_x0020_Web_x0020_Service">
    <documentation>Web Service providing access to Simias</documentation>
    <port name="Simias_x0020_Web_x0020_ServiceSoap" binding="s0:Simias_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://127.0.0.1:8086/simias10/Simias.asmx" />
    </port>
  </service>
</definitions>