simias/src/WebService/SimiasBrowser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/simias/browser" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/simias/browser" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/simias/browser">
      <s:element name="EnumerateCollections">
        <s:complexType />
      </s:element>
      <s:element name="EnumerateCollectionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnumerateCollectionsResult" type="tns:ArrayOfBrowserNode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBrowserNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BrowserNode" nillable="true" type="tns:BrowserNode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BrowserNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NodeData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnumerateNodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnumerateNodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnumerateNodesResult" type="tns:ArrayOfBrowserNode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollectionByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCollectionByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCollectionByIDResult" type="tns:BrowserNode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNodeByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNodeByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNodeByIDResult" type="tns:BrowserNode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPropertyValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPropertyValue" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="propertyFlags" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyPropertyResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyValue" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="propertyFlags" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPropertyResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteProperty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePropertyResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCollection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCollectionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteNode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="collectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNodeResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnumerateCollectionsSoapIn">
    <wsdl:part name="parameters" element="tns:EnumerateCollections" />
  </wsdl:message>
  <wsdl:message name="EnumerateCollectionsSoapOut">
    <wsdl:part name="parameters" element="tns:EnumerateCollectionsResponse" />
  </wsdl:message>
  <wsdl:message name="EnumerateNodesSoapIn">
    <wsdl:part name="parameters" element="tns:EnumerateNodes" />
  </wsdl:message>
  <wsdl:message name="EnumerateNodesSoapOut">
    <wsdl:part name="parameters" element="tns:EnumerateNodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCollectionByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetCollectionByID" />
  </wsdl:message>
  <wsdl:message name="GetCollectionByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetCollectionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetNodeByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetNodeByID" />
  </wsdl:message>
  <wsdl:message name="GetNodeByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetNodeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyPropertySoapIn">
    <wsdl:part name="parameters" element="tns:ModifyProperty" />
  </wsdl:message>
  <wsdl:message name="ModifyPropertySoapOut">
    <wsdl:part name="parameters" element="tns:ModifyPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="AddPropertySoapIn">
    <wsdl:part name="parameters" element="tns:AddProperty" />
  </wsdl:message>
  <wsdl:message name="AddPropertySoapOut">
    <wsdl:part name="parameters" element="tns:AddPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePropertySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProperty" />
  </wsdl:message>
  <wsdl:message name="DeletePropertySoapOut">
    <wsdl:part name="parameters" element="tns:DeletePropertyResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCollectionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCollection" />
  </wsdl:message>
  <wsdl:message name="DeleteCollectionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteNodeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteNode" />
  </wsdl:message>
  <wsdl:message name="DeleteNodeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteNodeResponse" />
  </wsdl:message>
  <wsdl:portType name="Browser_x0020_ServiceSoap">
    <wsdl:operation name="EnumerateCollections">
      <wsdl:input message="tns:EnumerateCollectionsSoapIn" />
      <wsdl:output message="tns:EnumerateCollectionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnumerateNodes">
      <wsdl:input message="tns:EnumerateNodesSoapIn" />
      <wsdl:output message="tns:EnumerateNodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionByID">
      <wsdl:input message="tns:GetCollectionByIDSoapIn" />
      <wsdl:output message="tns:GetCollectionByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNodeByID">
      <wsdl:input message="tns:GetNodeByIDSoapIn" />
      <wsdl:output message="tns:GetNodeByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyProperty">
      <wsdl:input message="tns:ModifyPropertySoapIn" />
      <wsdl:output message="tns:ModifyPropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProperty">
      <wsdl:input message="tns:AddPropertySoapIn" />
      <wsdl:output message="tns:AddPropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <wsdl:input message="tns:DeletePropertySoapIn" />
      <wsdl:output message="tns:DeletePropertySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCollection">
      <wsdl:input message="tns:DeleteCollectionSoapIn" />
      <wsdl:output message="tns:DeleteCollectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNode">
      <wsdl:input message="tns:DeleteNodeSoapIn" />
      <wsdl:output message="tns:DeleteNodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Browser_x0020_ServiceSoap" type="tns:Browser_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="EnumerateCollections">
      <soap:operation soapAction="http://novell.com/simias/browser/EnumerateCollections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnumerateNodes">
      <soap:operation soapAction="http://novell.com/simias/browser/EnumerateNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionByID">
      <soap:operation soapAction="http://novell.com/simias/browser/GetCollectionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodeByID">
      <soap:operation soapAction="http://novell.com/simias/browser/GetNodeByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyProperty">
      <soap:operation soapAction="http://novell.com/simias/browser/ModifyProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProperty">
      <soap:operation soapAction="http://novell.com/simias/browser/AddProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProperty">
      <soap:operation soapAction="http://novell.com/simias/browser/DeleteProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCollection">
      <soap:operation soapAction="http://novell.com/simias/browser/DeleteCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNode">
      <soap:operation soapAction="http://novell.com/simias/browser/DeleteNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Browser_x0020_Service">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web Service providing access to the simias database.</documentation>
    <wsdl:port name="Browser_x0020_ServiceSoap" binding="tns:Browser_x0020_ServiceSoap">
      <soap:address location="http://127.0.0.1:2602/simias10/mlasky/SimiasBrowser.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>