gaim-ifolder/gifolder/GaimDomainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/simias/domain" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/simias/domain" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/simias/domain">
      <s:element name="GetGaimDomainInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetGaimDomainInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGaimDomainInfoResult" type="tns:GaimDomainInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GaimDomainInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SynchronizeMemberList">
        <s:complexType />
      </s:element>
      <s:element name="SynchronizeMemberListResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountProtocolID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BuddyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMemberResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDomainUserID">
        <s:complexType />
      </s:element>
      <s:element name="GetDomainUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainUserIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGaimDomainInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetGaimDomainInfo" />
  </wsdl:message>
  <wsdl:message name="GetGaimDomainInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetGaimDomainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SynchronizeMemberListSoapIn">
    <wsdl:part name="parameters" element="tns:SynchronizeMemberList" />
  </wsdl:message>
  <wsdl:message name="SynchronizeMemberListSoapOut">
    <wsdl:part name="parameters" element="tns:SynchronizeMemberListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainUserID" />
  </wsdl:message>
  <wsdl:message name="GetDomainUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainUserIDResponse" />
  </wsdl:message>
  <wsdl:portType name="Gaim_x0020_Domain_x0020_ServiceSoap">
    <wsdl:operation name="GetGaimDomainInfo">
      <wsdl:input message="tns:GetGaimDomainInfoSoapIn" />
      <wsdl:output message="tns:GetGaimDomainInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeMemberList">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">SynchronizeMemberList</documentation>
      <wsdl:input message="tns:SynchronizeMemberListSoapIn" />
      <wsdl:output message="tns:SynchronizeMemberListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">UpdateMember</documentation>
      <wsdl:input message="tns:UpdateMemberSoapIn" />
      <wsdl:output message="tns:UpdateMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainUserID">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">GetDomainUserID</documentation>
      <wsdl:input message="tns:GetDomainUserIDSoapIn" />
      <wsdl:output message="tns:GetDomainUserIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Gaim_x0020_Domain_x0020_ServiceSoap" type="tns:Gaim_x0020_Domain_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetGaimDomainInfo">
      <soap:operation soapAction="http://novell.com/simias/domain/GetGaimDomainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeMemberList">
      <soap:operation soapAction="http://novell.com/simias/domain/SynchronizeMemberList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap:operation soapAction="http://novell.com/simias/domain/UpdateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainUserID">
      <soap:operation soapAction="http://novell.com/simias/domain/GetDomainUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gaim_x0020_Domain_x0020_Service">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web Service providing access to Gaim Domain Server functionality.</documentation>
    <wsdl:port name="Gaim_x0020_Domain_x0020_ServiceSoap" binding="tns:Gaim_x0020_Domain_x0020_ServiceSoap">
      <soap:address location="http://127.0.0.1:8086/simias10/GaimDomainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>