gaim-ifolder/gifolder/GaimDomainService.wsdl

<?xml version="1.0" encoding="utf-16"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:s="http://www.w3.org/2001/XMLSchema"
      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
      xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
      xmlns:s0="http://novell.com/simias/domain" name="Gaim Domain Service"
      targetNamespace="http://novell.com/simias/domain"
      xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://novell.com/simias/domain"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetGaimDomainInfo">
        <xs:complexType/>
      </xs:element>
      <xs:complexType name="GaimDomainInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetGaimDomainInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetGaimDomainInfoResult"
                  type="s0:GaimDomainInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SynchronizeMemberList">
        <xs:complexType/>
      </xs:element>
      <xs:element name="SynchronizeMemberListResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="UpdateMember">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="AccountName" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="AccountProtocolID" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="BuddyName" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="MachineName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateMemberResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="GetUserInfo">
        <xs:complexType/>
      </xs:element>
      <xs:element name="GetUserInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetUserInfoResult" type="xs:boolean"/>
            <xs:element minOccurs="0" maxOccurs="1" name="MachineName" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="SimiasURL" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMachineName">
        <xs:complexType/>
      </xs:element>
      <xs:element name="GetMachineNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetMachineNameResult"
                  type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetRSACredential">
        <xs:complexType/>
      </xs:element>
      <xs:element name="GetRSACredentialResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="GetRSACredentialResult"
                  type="xs:boolean"/>
            <xs:element minOccurs="0" maxOccurs="1" name="PublicCredential" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="PrivateCredential" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RSAEncryptString">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RsaCryptoXml" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="UnencryptedString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RSAEncryptStringResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RSAEncryptStringResult"
                  type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RSADecryptString">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RsaCryptoXml" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="EncryptedString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RSADecryptStringResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RSADecryptStringResult"
                  type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GenerateDESKey">
        <xs:complexType/>
      </xs:element>
      <xs:element name="GenerateDESKeyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GenerateDESKeyResult"
                  type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DESEncryptString">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DESKey" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="UnencryptedString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DESEncryptStringResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DESEncryptStringResult"
                  type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DESDecryptString">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DESKey" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="EncryptedString" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DESDecryptStringResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DESDecryptStringResult"
                  type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GaimDomainInfo" type="s0:GaimDomainInfo"/>
      <xs:element name="string" type="xs:string"/>
    </xs:schema>
  </types>
  <message name="GetGaimDomainInfoSoapIn">
    <part name="parameters" element="s0:GetGaimDomainInfo"/>
  </message>
  <message name="GetGaimDomainInfoSoapOut">
    <part name="parameters" element="s0:GetGaimDomainInfoResponse"/>
  </message>
  <message name="SynchronizeMemberListSoapIn">
    <part name="parameters" element="s0:SynchronizeMemberList"/>
  </message>
  <message name="SynchronizeMemberListSoapOut">
    <part name="parameters" element="s0:SynchronizeMemberListResponse"/>
  </message>
  <message name="UpdateMemberSoapIn">
    <part name="parameters" element="s0:UpdateMember"/>
  </message>
  <message name="UpdateMemberSoapOut">
    <part name="parameters" element="s0:UpdateMemberResponse"/>
  </message>
  <message name="GetUserInfoSoapIn">
    <part name="parameters" element="s0:GetUserInfo"/>
  </message>
  <message name="GetUserInfoSoapOut">
    <part name="parameters" element="s0:GetUserInfoResponse"/>
  </message>
  <message name="GetMachineNameSoapIn">
    <part name="parameters" element="s0:GetMachineName"/>
  </message>
  <message name="GetMachineNameSoapOut">
    <part name="parameters" element="s0:GetMachineNameResponse"/>
  </message>
  <message name="GetRSACredentialSoapIn">
    <part name="parameters" element="s0:GetRSACredential"/>
  </message>
  <message name="GetRSACredentialSoapOut">
    <part name="parameters" element="s0:GetRSACredentialResponse"/>
  </message>
  <message name="RSAEncryptStringSoapIn">
    <part name="parameters" element="s0:RSAEncryptString"/>
  </message>
  <message name="RSAEncryptStringSoapOut">
    <part name="parameters" element="s0:RSAEncryptStringResponse"/>
  </message>
  <message name="RSADecryptStringSoapIn">
    <part name="parameters" element="s0:RSADecryptString"/>
  </message>
  <message name="RSADecryptStringSoapOut">
    <part name="parameters" element="s0:RSADecryptStringResponse"/>
  </message>
  <message name="GenerateDESKeySoapIn">
    <part name="parameters" element="s0:GenerateDESKey"/>
  </message>
  <message name="GenerateDESKeySoapOut">
    <part name="parameters" element="s0:GenerateDESKeyResponse"/>
  </message>
  <message name="DESEncryptStringSoapIn">
    <part name="parameters" element="s0:DESEncryptString"/>
  </message>
  <message name="DESEncryptStringSoapOut">
    <part name="parameters" element="s0:DESEncryptStringResponse"/>
  </message>
  <message name="DESDecryptStringSoapIn">
    <part name="parameters" element="s0:DESDecryptString"/>
  </message>
  <message name="DESDecryptStringSoapOut">
    <part name="parameters" element="s0:DESDecryptStringResponse"/>
  </message>
  <message name="GetGaimDomainInfoHttpGetIn"/>
  <message name="GetGaimDomainInfoHttpGetOut">
    <part name="Body" element="s0:GaimDomainInfo"/>
  </message>
  <message name="SynchronizeMemberListHttpGetIn"/>
  <message name="SynchronizeMemberListHttpGetOut"/>
  <message name="UpdateMemberHttpGetIn">
    <part name="AccountName" type="s:string"/>
    <part name="AccountProtocolID" type="s:string"/>
    <part name="BuddyName" type="s:string"/>
    <part name="MachineName" type="s:string"/>
  </message>
  <message name="UpdateMemberHttpGetOut"/>
  <message name="GetMachineNameHttpGetIn"/>
  <message name="GetMachineNameHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="RSAEncryptStringHttpGetIn">
    <part name="RsaCryptoXml" type="s:string"/>
    <part name="UnencryptedString" type="s:string"/>
  </message>
  <message name="RSAEncryptStringHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="RSADecryptStringHttpGetIn">
    <part name="RsaCryptoXml" type="s:string"/>
    <part name="EncryptedString" type="s:string"/>
  </message>
  <message name="RSADecryptStringHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="GenerateDESKeyHttpGetIn"/>
  <message name="GenerateDESKeyHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="DESEncryptStringHttpGetIn">
    <part name="DESKey" type="s:string"/>
    <part name="UnencryptedString" type="s:string"/>
  </message>
  <message name="DESEncryptStringHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="DESDecryptStringHttpGetIn">
    <part name="DESKey" type="s:string"/>
    <part name="EncryptedString" type="s:string"/>
  </message>
  <message name="DESDecryptStringHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="GetGaimDomainInfoHttpPostIn"/>
  <message name="GetGaimDomainInfoHttpPostOut">
    <part name="Body" element="s0:GaimDomainInfo"/>
  </message>
  <message name="SynchronizeMemberListHttpPostIn"/>
  <message name="SynchronizeMemberListHttpPostOut"/>
  <message name="UpdateMemberHttpPostIn">
    <part name="AccountName" type="s:string"/>
    <part name="AccountProtocolID" type="s:string"/>
    <part name="BuddyName" type="s:string"/>
    <part name="MachineName" type="s:string"/>
  </message>
  <message name="UpdateMemberHttpPostOut"/>
  <message name="GetMachineNameHttpPostIn"/>
  <message name="GetMachineNameHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="RSAEncryptStringHttpPostIn">
    <part name="RsaCryptoXml" type="s:string"/>
    <part name="UnencryptedString" type="s:string"/>
  </message>
  <message name="RSAEncryptStringHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="RSADecryptStringHttpPostIn">
    <part name="RsaCryptoXml" type="s:string"/>
    <part name="EncryptedString" type="s:string"/>
  </message>
  <message name="RSADecryptStringHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="GenerateDESKeyHttpPostIn"/>
  <message name="GenerateDESKeyHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="DESEncryptStringHttpPostIn">
    <part name="DESKey" type="s:string"/>
    <part name="UnencryptedString" type="s:string"/>
  </message>
  <message name="DESEncryptStringHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="DESDecryptStringHttpPostIn">
    <part name="DESKey" type="s:string"/>
    <part name="EncryptedString" type="s:string"/>
  </message>
  <message name="DESDecryptStringHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <portType name="Gaim Domain ServiceSoap">
    <operation name="GetGaimDomainInfo">
      <input message="s0:GetGaimDomainInfoSoapIn"/>
      <output message="s0:GetGaimDomainInfoSoapOut"/>
    </operation>
    <operation name="SynchronizeMemberList">
      <input message="s0:SynchronizeMemberListSoapIn"/>
      <output message="s0:SynchronizeMemberListSoapOut"/>
      <documentation>SynchronizeMemberList</documentation>
    </operation>
    <operation name="UpdateMember">
      <input message="s0:UpdateMemberSoapIn"/>
      <output message="s0:UpdateMemberSoapOut"/>
      <documentation>UpdateMember</documentation>
    </operation>
    <operation name="GetUserInfo">
      <input message="s0:GetUserInfoSoapIn"/>
      <output message="s0:GetUserInfoSoapOut"/>
      <documentation>GetUserInfo</documentation>
    </operation>
    <operation name="GetMachineName">
      <input message="s0:GetMachineNameSoapIn"/>
      <output message="s0:GetMachineNameSoapOut"/>
      <documentation>GetMachineName returns the machine name of the computer we're running
            on.</documentation>
    </operation>
    <operation name="GetRSACredential">
      <input message="s0:GetRSACredentialSoapIn"/>
      <output message="s0:GetRSACredentialSoapOut"/>
      <documentation>GetRSACredential</documentation>
    </operation>
    <operation name="RSAEncryptString">
      <input message="s0:RSAEncryptStringSoapIn"/>
      <output message="s0:RSAEncryptStringSoapOut"/>
      <documentation>RSAEncryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in
            XML format representing a public key) to encrypt UnencryptedString.</documentation>
    </operation>
    <operation name="RSADecryptString">
      <input message="s0:RSADecryptStringSoapIn"/>
      <output message="s0:RSADecryptStringSoapOut"/>
      <documentation>RSADecryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in
            XML format representing a private key) to decrypt EncryptedString.</documentation>
    </operation>
    <operation name="GenerateDESKey">
      <input message="s0:GenerateDESKeySoapIn"/>
      <output message="s0:GenerateDESKeySoapOut"/>
      <documentation>Generates a Base64 Encoded DES Symmetric Key</documentation>
    </operation>
    <operation name="DESEncryptString">
      <input message="s0:DESEncryptStringSoapIn"/>
      <output message="s0:DESEncryptStringSoapOut"/>
      <documentation>DESEncryptString() uses DESKey (A Base64 encoded DES key) to encrypt
            UnencryptedString.</documentation>
    </operation>
    <operation name="DESDecryptString">
      <input message="s0:DESDecryptStringSoapIn"/>
      <output message="s0:DESDecryptStringSoapOut"/>
      <documentation>DESDecryptString() uses DESKey (A Base64 encoded DES key) to decrypt
            EncryptedString.</documentation>
    </operation>
  </portType>
  <portType name="Gaim Domain ServiceHttpGet">
    <operation name="GetGaimDomainInfo">
      <input message="s0:GetGaimDomainInfoHttpGetIn"/>
      <output message="s0:GetGaimDomainInfoHttpGetOut"/>
    </operation>
    <operation name="SynchronizeMemberList">
      <input message="s0:SynchronizeMemberListHttpGetIn"/>
      <output message="s0:SynchronizeMemberListHttpGetOut"/>
      <documentation>SynchronizeMemberList</documentation>
    </operation>
    <operation name="UpdateMember">
      <input message="s0:UpdateMemberHttpGetIn"/>
      <output message="s0:UpdateMemberHttpGetOut"/>
      <documentation>UpdateMember</documentation>
    </operation>
    <operation name="GetMachineName">
      <input message="s0:GetMachineNameHttpGetIn"/>
      <output message="s0:GetMachineNameHttpGetOut"/>
      <documentation>GetMachineName returns the machine name of the computer we're running
            on.</documentation>
    </operation>
    <operation name="RSAEncryptString">
      <input message="s0:RSAEncryptStringHttpGetIn"/>
      <output message="s0:RSAEncryptStringHttpGetOut"/>
      <documentation>RSAEncryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in
            XML format representing a public key) to encrypt UnencryptedString.</documentation>
    </operation>
    <operation name="RSADecryptString">
      <input message="s0:RSADecryptStringHttpGetIn"/>
      <output message="s0:RSADecryptStringHttpGetOut"/>
      <documentation>RSADecryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in
            XML format representing a private key) to decrypt EncryptedString.</documentation>
    </operation>
    <operation name="GenerateDESKey">
      <input message="s0:GenerateDESKeyHttpGetIn"/>
      <output message="s0:GenerateDESKeyHttpGetOut"/>
      <documentation>Generates a Base64 Encoded DES Symmetric Key</documentation>
    </operation>
    <operation name="DESEncryptString">
      <input message="s0:DESEncryptStringHttpGetIn"/>
      <output message="s0:DESEncryptStringHttpGetOut"/>
      <documentation>DESEncryptString() uses DESKey (A Base64 encoded DES key) to encrypt
            UnencryptedString.</documentation>
    </operation>
    <operation name="DESDecryptString">
      <input message="s0:DESDecryptStringHttpGetIn"/>
      <output message="s0:DESDecryptStringHttpGetOut"/>
      <documentation>DESDecryptString() uses DESKey (A Base64 encoded DES key) to decrypt
            EncryptedString.</documentation>
    </operation>
  </portType>
  <portType name="Gaim Domain ServiceHttpPost">
    <operation name="GetGaimDomainInfo">
      <input message="s0:GetGaimDomainInfoHttpPostIn"/>
      <output message="s0:GetGaimDomainInfoHttpPostOut"/>
    </operation>
    <operation name="SynchronizeMemberList">
      <input message="s0:SynchronizeMemberListHttpPostIn"/>
      <output message="s0:SynchronizeMemberListHttpPostOut"/>
      <documentation>SynchronizeMemberList</documentation>
    </operation>
    <operation name="UpdateMember">
      <input message="s0:UpdateMemberHttpPostIn"/>
      <output message="s0:UpdateMemberHttpPostOut"/>
      <documentation>UpdateMember</documentation>
    </operation>
    <operation name="GetMachineName">
      <input message="s0:GetMachineNameHttpPostIn"/>
      <output message="s0:GetMachineNameHttpPostOut"/>
      <documentation>GetMachineName returns the machine name of the computer we're running
            on.</documentation>
    </operation>
    <operation name="RSAEncryptString">
      <input message="s0:RSAEncryptStringHttpPostIn"/>
      <output message="s0:RSAEncryptStringHttpPostOut"/>
      <documentation>RSAEncryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in
            XML format representing a public key) to encrypt UnencryptedString.</documentation>
    </operation>
    <operation name="RSADecryptString">
      <input message="s0:RSADecryptStringHttpPostIn"/>
      <output message="s0:RSADecryptStringHttpPostOut"/>
      <documentation>RSADecryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in
            XML format representing a private key) to decrypt EncryptedString.</documentation>
    </operation>
    <operation name="GenerateDESKey">
      <input message="s0:GenerateDESKeyHttpPostIn"/>
      <output message="s0:GenerateDESKeyHttpPostOut"/>
      <documentation>Generates a Base64 Encoded DES Symmetric Key</documentation>
    </operation>
    <operation name="DESEncryptString">
      <input message="s0:DESEncryptStringHttpPostIn"/>
      <output message="s0:DESEncryptStringHttpPostOut"/>
      <documentation>DESEncryptString() uses DESKey (A Base64 encoded DES key) to encrypt
            UnencryptedString.</documentation>
    </operation>
    <operation name="DESDecryptString">
      <input message="s0:DESDecryptStringHttpPostIn"/>
      <output message="s0:DESDecryptStringHttpPostOut"/>
      <documentation>DESDecryptString() uses DESKey (A Base64 encoded DES key) to decrypt
            EncryptedString.</documentation>
    </operation>
  </portType>
  <binding name="Gaim Domain ServiceSoap" type="s0:Gaim Domain ServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetGaimDomainInfo">
      <soap:operation soapAction="http://novell.com/simias/domain/GetGaimDomainInfo"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="SynchronizeMemberList">
      <soap:operation soapAction="http://novell.com/simias/domain/SynchronizeMemberList"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateMember">
      <soap:operation soapAction="http://novell.com/simias/domain/UpdateMember"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetUserInfo">
      <soap:operation soapAction="http://novell.com/simias/domain/GetUserInfo"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetMachineName">
      <soap:operation soapAction="http://novell.com/simias/domain/GetMachineName"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetRSACredential">
      <soap:operation soapAction="http://novell.com/simias/domain/GetRSACredential"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RSAEncryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/RSAEncryptString"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="RSADecryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/RSADecryptString"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GenerateDESKey">
      <soap:operation soapAction="http://novell.com/simias/domain/GenerateDESKey"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DESEncryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/DESEncryptString"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DESDecryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/DESDecryptString"
            style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="Gaim Domain ServiceHttpGet" type="s0:Gaim Domain ServiceHttpGet">
    <http:binding verb="GET"/>
    <operation name="GetGaimDomainInfo">
      <http:operation location="/GetGaimDomainInfo"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="SynchronizeMemberList">
      <http:operation location="/SynchronizeMemberList"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output/>
    </operation>
    <operation name="UpdateMember">
      <http:operation location="/UpdateMember"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output/>
    </operation>
    <operation name="GetMachineName">
      <http:operation location="/GetMachineName"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="RSAEncryptString">
      <http:operation location="/RSAEncryptString"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="RSADecryptString">
      <http:operation location="/RSADecryptString"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="GenerateDESKey">
      <http:operation location="/GenerateDESKey"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="DESEncryptString">
      <http:operation location="/DESEncryptString"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="DESDecryptString">
      <http:operation location="/DESDecryptString"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <binding name="Gaim Domain ServiceHttpPost" type="s0:Gaim Domain ServiceHttpPost">
    <http:binding verb="POST"/>
    <operation name="GetGaimDomainInfo">
      <http:operation location="/GetGaimDomainInfo"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="SynchronizeMemberList">
      <http:operation location="/SynchronizeMemberList"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output/>
    </operation>
    <operation name="UpdateMember">
      <http:operation location="/UpdateMember"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output/>
    </operation>
    <operation name="GetMachineName">
      <http:operation location="/GetMachineName"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="RSAEncryptString">
      <http:operation location="/RSAEncryptString"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="RSADecryptString">
      <http:operation location="/RSADecryptString"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="GenerateDESKey">
      <http:operation location="/GenerateDESKey"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="DESEncryptString">
      <http:operation location="/DESEncryptString"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
    <operation name="DESDecryptString">
      <http:operation location="/DESDecryptString"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <service name="Gaim Domain Service">
    <port name="Gaim Domain ServiceSoap" binding="s0:Gaim Domain ServiceSoap">
      <soap:address
           
           
           
           
           
            location="http://bht-linux.provo.novell.com:38339/simias10/boyd/GaimDomainService.asmx"/>
    </port>
    <port name="Gaim Domain ServiceHttpGet" binding="s0:Gaim Domain ServiceHttpGet">
      <http:address
           
           
           
           
           
            location="http://bht-linux.provo.novell.com:38339/simias10/boyd/GaimDomainService.asmx"/>
    </port>
    <port name="Gaim Domain ServiceHttpPost" binding="s0:Gaim Domain ServiceHttpPost">
      <http:address
           
           
           
           
           
            location="http://bht-linux.provo.novell.com:38339/simias10/boyd/GaimDomainService.asmx"/>
    </port>
    <documentation>Web Service providing access to Gaim Domain Server
          functionality.</documentation>
  </service>
</definitions>
