gaim-ifolder/gifolder/GaimDomainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/simias/domain" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/simias/domain" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/simias/domain">
      <s:element name="GetGaimDomainInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetGaimDomainInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGaimDomainInfoResult" type="tns:GaimDomainInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GaimDomainInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SynchronizeMemberList">
        <s:complexType />
      </s:element>
      <s:element name="SynchronizeMemberListResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountProtocolID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BuddyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMemberResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SimiasURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMachineName">
        <s:complexType />
      </s:element>
      <s:element name="GetMachineNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMachineNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRSACredential">
        <s:complexType />
      </s:element>
      <s:element name="GetRSACredentialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRSACredentialResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="PublicCredential" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrivateCredential" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RSAEncryptString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RsaCryptoXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnencryptedString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RSAEncryptStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RSAEncryptStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RSADecryptString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RsaCryptoXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RSADecryptStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RSADecryptStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateDESKey">
        <s:complexType />
      </s:element>
      <s:element name="GenerateDESKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateDESKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESEncryptString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DESKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnencryptedString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESEncryptStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DESEncryptStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESDecryptString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DESKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DESDecryptStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DESDecryptStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGaimDomainInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetGaimDomainInfo" />
  </wsdl:message>
  <wsdl:message name="GetGaimDomainInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetGaimDomainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SynchronizeMemberListSoapIn">
    <wsdl:part name="parameters" element="tns:SynchronizeMemberList" />
  </wsdl:message>
  <wsdl:message name="SynchronizeMemberListSoapOut">
    <wsdl:part name="parameters" element="tns:SynchronizeMemberListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMember" />
  </wsdl:message>
  <wsdl:message name="UpdateMemberSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMachineNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetMachineName" />
  </wsdl:message>
  <wsdl:message name="GetMachineNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetMachineNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetRSACredentialSoapIn">
    <wsdl:part name="parameters" element="tns:GetRSACredential" />
  </wsdl:message>
  <wsdl:message name="GetRSACredentialSoapOut">
    <wsdl:part name="parameters" element="tns:GetRSACredentialResponse" />
  </wsdl:message>
  <wsdl:message name="RSAEncryptStringSoapIn">
    <wsdl:part name="parameters" element="tns:RSAEncryptString" />
  </wsdl:message>
  <wsdl:message name="RSAEncryptStringSoapOut">
    <wsdl:part name="parameters" element="tns:RSAEncryptStringResponse" />
  </wsdl:message>
  <wsdl:message name="RSADecryptStringSoapIn">
    <wsdl:part name="parameters" element="tns:RSADecryptString" />
  </wsdl:message>
  <wsdl:message name="RSADecryptStringSoapOut">
    <wsdl:part name="parameters" element="tns:RSADecryptStringResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateDESKeySoapIn">
    <wsdl:part name="parameters" element="tns:GenerateDESKey" />
  </wsdl:message>
  <wsdl:message name="GenerateDESKeySoapOut">
    <wsdl:part name="parameters" element="tns:GenerateDESKeyResponse" />
  </wsdl:message>
  <wsdl:message name="DESEncryptStringSoapIn">
    <wsdl:part name="parameters" element="tns:DESEncryptString" />
  </wsdl:message>
  <wsdl:message name="DESEncryptStringSoapOut">
    <wsdl:part name="parameters" element="tns:DESEncryptStringResponse" />
  </wsdl:message>
  <wsdl:message name="DESDecryptStringSoapIn">
    <wsdl:part name="parameters" element="tns:DESDecryptString" />
  </wsdl:message>
  <wsdl:message name="DESDecryptStringSoapOut">
    <wsdl:part name="parameters" element="tns:DESDecryptStringResponse" />
  </wsdl:message>
  <wsdl:portType name="Gaim_x0020_Domain_x0020_ServiceSoap">
    <wsdl:operation name="GetGaimDomainInfo">
      <wsdl:input message="tns:GetGaimDomainInfoSoapIn" />
      <wsdl:output message="tns:GetGaimDomainInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynchronizeMemberList">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">SynchronizeMemberList</documentation>
      <wsdl:input message="tns:SynchronizeMemberListSoapIn" />
      <wsdl:output message="tns:SynchronizeMemberListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">UpdateMember</documentation>
      <wsdl:input message="tns:UpdateMemberSoapIn" />
      <wsdl:output message="tns:UpdateMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">GetUserInfo</documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMachineName">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">GetMachineName returns the machine name of the computer we're running on.</documentation>
      <wsdl:input message="tns:GetMachineNameSoapIn" />
      <wsdl:output message="tns:GetMachineNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRSACredential">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">GetRSACredential</documentation>
      <wsdl:input message="tns:GetRSACredentialSoapIn" />
      <wsdl:output message="tns:GetRSACredentialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RSAEncryptString">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">RSAEncryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in XML format representing a public key) to encrypt UnencryptedString.</documentation>
      <wsdl:input message="tns:RSAEncryptStringSoapIn" />
      <wsdl:output message="tns:RSAEncryptStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RSADecryptString">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">RSADecryptString() uses RsaCryptoXml (A .NET RSACryptoServiceProvider in XML format representing a private key) to decrypt EncryptedString.</documentation>
      <wsdl:input message="tns:RSADecryptStringSoapIn" />
      <wsdl:output message="tns:RSADecryptStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDESKey">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Generates a Base64 Encoded DES Symmetric Key</documentation>
      <wsdl:input message="tns:GenerateDESKeySoapIn" />
      <wsdl:output message="tns:GenerateDESKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DESEncryptString">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">DESEncryptString() uses DESKey (A Base64 encoded DES key) to encrypt UnencryptedString.</documentation>
      <wsdl:input message="tns:DESEncryptStringSoapIn" />
      <wsdl:output message="tns:DESEncryptStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DESDecryptString">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">DESDecryptString() uses DESKey (A Base64 encoded DES key) to decrypt EncryptedString.</documentation>
      <wsdl:input message="tns:DESDecryptStringSoapIn" />
      <wsdl:output message="tns:DESDecryptStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Gaim_x0020_Domain_x0020_ServiceSoap" type="tns:Gaim_x0020_Domain_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetGaimDomainInfo">
      <soap:operation soapAction="http://novell.com/simias/domain/GetGaimDomainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynchronizeMemberList">
      <soap:operation soapAction="http://novell.com/simias/domain/SynchronizeMemberList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMember">
      <soap:operation soapAction="http://novell.com/simias/domain/UpdateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://novell.com/simias/domain/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMachineName">
      <soap:operation soapAction="http://novell.com/simias/domain/GetMachineName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRSACredential">
      <soap:operation soapAction="http://novell.com/simias/domain/GetRSACredential" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RSAEncryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/RSAEncryptString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RSADecryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/RSADecryptString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDESKey">
      <soap:operation soapAction="http://novell.com/simias/domain/GenerateDESKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DESEncryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/DESEncryptString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DESDecryptString">
      <soap:operation soapAction="http://novell.com/simias/domain/DESDecryptString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gaim_x0020_Domain_x0020_Service">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web Service providing access to Gaim Domain Server functionality.</documentation>
    <wsdl:port name="Gaim_x0020_Domain_x0020_ServiceSoap" binding="tns:Gaim_x0020_Domain_x0020_ServiceSoap">
      <soap:address location="http://127.0.0.1:2895/simias10/Administrator/GaimDomainService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>