ifolder/src/iFolder/iFolderWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://novell.com/ifolder/web/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="iFolder Web Service" targetNamespace="http://novell.com/ifolder/web/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://novell.com/ifolder/web/encodedTypes" targetNamespace="http://novell.com/ifolder/web/encodedTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:complexType name="iFolderSettings">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DefaultDomainID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="HaveEnterprise" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="iFolder">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Domain" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DomainIdentity" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LocalIncarnation" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="ManagedPath" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="UnManagedPath" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="MasterIncarnation" type="xs:unsignedLong" />
          <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Owner" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SyncInterval" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Synchronizable" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSubscription" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EnumeratedState" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsWorkgroup" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasCollisions" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfIFolder">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute ref="soapenc:arrayType" d7p1:arrayType="tns:iFolder[]" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="iFolderUser">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Rights" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsOwner" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSubscription" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfIFolderUser">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute ref="soapenc:arrayType" d7p1:arrayType="tns:iFolderUser[]" xmlns:d7p1="http://schemas.xmlsoap.org/wsdl/" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="DiskSpace">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AvailableSpace" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Limit" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="UsedSpace" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://novell.com/ifolder/web/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="iFolderSettings">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="DefaultDomainID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="HaveEnterprise" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="iFolderSettings" type="s0:iFolderSettings" />
      <xs:element name="boolean" type="xs:boolean" />
      <xs:complexType name="iFolder">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Domain" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DomainIdentity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LocalIncarnation" type="xs:unsignedLong" />
          <xs:element minOccurs="0" maxOccurs="1" name="ManagedPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UnManagedPath" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="MasterIncarnation" type="xs:unsignedLong" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Owner" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SyncInterval" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Synchronizable" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSubscription" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="EnumeratedState" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsWorkgroup" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasCollisions" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="iFolder" type="s0:iFolder" />
      <xs:complexType name="ArrayOfIFolder">
        <xs:sequence>
          <xs:element minOccurs="0" nillable="true" maxOccurs="unbounded" name="iFolder" type="s0:iFolder" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfIFolder" type="s0:ArrayOfIFolder" />
      <xs:complexType name="iFolderUser">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Rights" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsOwner" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSubscription" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="iFolderUser" type="s0:iFolderUser" />
      <xs:complexType name="ArrayOfIFolderUser">
        <xs:sequence>
          <xs:element minOccurs="0" nillable="true" maxOccurs="unbounded" name="iFolderUser" type="s0:iFolderUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ArrayOfIFolderUser" type="s0:ArrayOfIFolderUser" />
      <xs:complexType name="DiskSpace">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AvailableSpace" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Limit" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="UsedSpace" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DiskSpace" type="s0:DiskSpace" />
      <xs:element name="int" type="xs:int" />
    </xs:schema>
  </types>
  <message name="PingSoapIn" />
  <message name="PingSoapOut" />
  <message name="GetSettingsSoapIn" />
  <message name="GetSettingsSoapOut">
    <part name="GetSettingsResult" xmlns:q1="http://novell.com/ifolder/web/encodedTypes" type="q1:iFolderSettings" />
  </message>
  <message name="IsiFolderSoapIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="IsiFolderSoapOut">
    <part name="IsiFolderResult" type="s:boolean" />
  </message>
  <message name="CanBeiFolderSoapIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="CanBeiFolderSoapOut">
    <part name="CanBeiFolderResult" type="s:boolean" />
  </message>
  <message name="IsPathIniFolderSoapIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="IsPathIniFolderSoapOut">
    <part name="IsPathIniFolderResult" type="s:boolean" />
  </message>
  <message name="CreateLocaliFolderSoapIn">
    <part name="Path" type="s:string" />
  </message>
  <message name="CreateLocaliFolderSoapOut">
    <part name="CreateLocaliFolderResult" xmlns:q2="http://novell.com/ifolder/web/encodedTypes" type="q2:iFolder" />
  </message>
  <message name="GetiFolderSoapIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderSoapOut">
    <part name="GetiFolderResult" xmlns:q3="http://novell.com/ifolder/web/encodedTypes" type="q3:iFolder" />
  </message>
  <message name="GetiFolderByLocalPathSoapIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="GetiFolderByLocalPathSoapOut">
    <part name="GetiFolderByLocalPathResult" xmlns:q4="http://novell.com/ifolder/web/encodedTypes" type="q4:iFolder" />
  </message>
  <message name="DeleteiFolderSoapIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="DeleteiFolderSoapOut" />
  <message name="GetAlliFoldersSoapIn" />
  <message name="GetAlliFoldersSoapOut">
    <part name="GetAlliFoldersResult" xmlns:q5="http://novell.com/ifolder/web/encodedTypes" type="q5:ArrayOfIFolder" />
  </message>
  <message name="GetiFoldersSoapIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetiFoldersSoapOut">
    <part name="GetiFoldersResult" xmlns:q6="http://novell.com/ifolder/web/encodedTypes" type="q6:ArrayOfIFolder" />
  </message>
  <message name="SetUserRightsSoapIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
    <part name="Rights" type="s:string" />
  </message>
  <message name="SetUserRightsSoapOut" />
  <message name="GetOwnerSoapIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetOwnerSoapOut">
    <part name="GetOwnerResult" xmlns:q7="http://novell.com/ifolder/web/encodedTypes" type="q7:iFolderUser" />
  </message>
  <message name="ChangeOwnerSoapIn">
    <part name="iFolderID" type="s:string" />
    <part name="NewOwnerUserID" type="s:string" />
    <part name="OldOwnerRights" type="s:string" />
  </message>
  <message name="ChangeOwnerSoapOut" />
  <message name="RemoveiFolderUserSoapIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
  </message>
  <message name="RemoveiFolderUserSoapOut" />
  <message name="GetiFolderUsersSoapIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderUsersSoapOut">
    <part name="GetiFolderUsersResult" xmlns:q8="http://novell.com/ifolder/web/encodedTypes" type="q8:ArrayOfIFolderUser" />
  </message>
  <message name="GetAlliFolderUsersSoapIn" />
  <message name="GetAlliFolderUsersSoapOut">
    <part name="GetAlliFolderUsersResult" xmlns:q9="http://novell.com/ifolder/web/encodedTypes" type="q9:ArrayOfIFolderUser" />
  </message>
  <message name="GetiFolderUserSoapIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetiFolderUserSoapOut">
    <part name="GetiFolderUserResult" xmlns:q10="http://novell.com/ifolder/web/encodedTypes" type="q10:iFolderUser" />
  </message>
  <message name="GetiFolderUserFromiFolderSoapIn">
    <part name="UserID" type="s:string" />
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderUserFromiFolderSoapOut">
    <part name="GetiFolderUserFromiFolderResult" xmlns:q11="http://novell.com/ifolder/web/encodedTypes" type="q11:iFolderUser" />
  </message>
  <message name="InviteUserSoapIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
    <part name="Rights" type="s:string" />
  </message>
  <message name="InviteUserSoapOut">
    <part name="InviteUserResult" xmlns:q12="http://novell.com/ifolder/web/encodedTypes" type="q12:iFolderUser" />
  </message>
  <message name="AcceptiFolderInvitationSoapIn">
    <part name="iFolderID" type="s:string" />
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="AcceptiFolderInvitationSoapOut">
    <part name="AcceptiFolderInvitationResult" xmlns:q13="http://novell.com/ifolder/web/encodedTypes" type="q13:iFolder" />
  </message>
  <message name="GetUserDiskSpaceSoapIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetUserDiskSpaceSoapOut">
    <part name="GetUserDiskSpaceResult" xmlns:q14="http://novell.com/ifolder/web/encodedTypes" type="q14:DiskSpace" />
  </message>
  <message name="GetiFolderDiskSpaceSoapIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderDiskSpaceSoapOut">
    <part name="GetiFolderDiskSpaceResult" xmlns:q15="http://novell.com/ifolder/web/encodedTypes" type="q15:DiskSpace" />
  </message>
  <message name="SetUserDiskSpaceLimitSoapIn">
    <part name="UserID" type="s:string" />
    <part name="Limit" type="s:long" />
  </message>
  <message name="SetUserDiskSpaceLimitSoapOut" />
  <message name="SetiFolderSyncIntervalSoapIn">
    <part name="iFolderID" type="s:string" />
    <part name="Interval" type="s:int" />
  </message>
  <message name="SetiFolderSyncIntervalSoapOut" />
  <message name="SetDefaultSyncIntervalSoapIn">
    <part name="Interval" type="s:int" />
  </message>
  <message name="SetDefaultSyncIntervalSoapOut" />
  <message name="GetDefaultSyncIntervalSoapIn" />
  <message name="GetDefaultSyncIntervalSoapOut">
    <part name="GetDefaultSyncIntervalResult" type="s:int" />
  </message>
  <message name="ConnectToEnterpriseServerSoapIn">
    <part name="UserName" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="Host" type="s:string" />
  </message>
  <message name="ConnectToEnterpriseServerSoapOut">
    <part name="ConnectToEnterpriseServerResult" xmlns:q16="http://novell.com/ifolder/web/encodedTypes" type="q16:iFolderSettings" />
  </message>
  <message name="PingHttpGetIn" />
  <message name="PingHttpGetOut" />
  <message name="GetSettingsHttpGetIn" />
  <message name="GetSettingsHttpGetOut">
    <part name="Body" element="s0:iFolderSettings" />
  </message>
  <message name="IsiFolderHttpGetIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="IsiFolderHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="CanBeiFolderHttpGetIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="CanBeiFolderHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="IsPathIniFolderHttpGetIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="IsPathIniFolderHttpGetOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="CreateLocaliFolderHttpGetIn">
    <part name="Path" type="s:string" />
  </message>
  <message name="CreateLocaliFolderHttpGetOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="GetiFolderHttpGetIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderHttpGetOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="GetiFolderByLocalPathHttpGetIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="GetiFolderByLocalPathHttpGetOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="DeleteiFolderHttpGetIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="DeleteiFolderHttpGetOut" />
  <message name="GetAlliFoldersHttpGetIn" />
  <message name="GetAlliFoldersHttpGetOut">
    <part name="Body" element="s0:ArrayOfIFolder" />
  </message>
  <message name="GetiFoldersHttpGetIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetiFoldersHttpGetOut">
    <part name="Body" element="s0:ArrayOfIFolder" />
  </message>
  <message name="SetUserRightsHttpGetIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
    <part name="Rights" type="s:string" />
  </message>
  <message name="SetUserRightsHttpGetOut" />
  <message name="GetOwnerHttpGetIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetOwnerHttpGetOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="ChangeOwnerHttpGetIn">
    <part name="iFolderID" type="s:string" />
    <part name="NewOwnerUserID" type="s:string" />
    <part name="OldOwnerRights" type="s:string" />
  </message>
  <message name="ChangeOwnerHttpGetOut" />
  <message name="RemoveiFolderUserHttpGetIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
  </message>
  <message name="RemoveiFolderUserHttpGetOut" />
  <message name="GetiFolderUsersHttpGetIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderUsersHttpGetOut">
    <part name="Body" element="s0:ArrayOfIFolderUser" />
  </message>
  <message name="GetAlliFolderUsersHttpGetIn" />
  <message name="GetAlliFolderUsersHttpGetOut">
    <part name="Body" element="s0:ArrayOfIFolderUser" />
  </message>
  <message name="GetiFolderUserHttpGetIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetiFolderUserHttpGetOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="GetiFolderUserFromiFolderHttpGetIn">
    <part name="UserID" type="s:string" />
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderUserFromiFolderHttpGetOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="InviteUserHttpGetIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
    <part name="Rights" type="s:string" />
  </message>
  <message name="InviteUserHttpGetOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="AcceptiFolderInvitationHttpGetIn">
    <part name="iFolderID" type="s:string" />
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="AcceptiFolderInvitationHttpGetOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="GetUserDiskSpaceHttpGetIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetUserDiskSpaceHttpGetOut">
    <part name="Body" element="s0:DiskSpace" />
  </message>
  <message name="GetiFolderDiskSpaceHttpGetIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderDiskSpaceHttpGetOut">
    <part name="Body" element="s0:DiskSpace" />
  </message>
  <message name="SetUserDiskSpaceLimitHttpGetIn">
    <part name="UserID" type="s:string" />
    <part name="Limit" type="s:long" />
  </message>
  <message name="SetUserDiskSpaceLimitHttpGetOut" />
  <message name="SetiFolderSyncIntervalHttpGetIn">
    <part name="iFolderID" type="s:string" />
    <part name="Interval" type="s:int" />
  </message>
  <message name="SetiFolderSyncIntervalHttpGetOut" />
  <message name="SetDefaultSyncIntervalHttpGetIn">
    <part name="Interval" type="s:int" />
  </message>
  <message name="SetDefaultSyncIntervalHttpGetOut" />
  <message name="GetDefaultSyncIntervalHttpGetIn" />
  <message name="GetDefaultSyncIntervalHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="ConnectToEnterpriseServerHttpGetIn">
    <part name="UserName" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="Host" type="s:string" />
  </message>
  <message name="ConnectToEnterpriseServerHttpGetOut">
    <part name="Body" element="s0:iFolderSettings" />
  </message>
  <message name="PingHttpPostIn" />
  <message name="PingHttpPostOut" />
  <message name="GetSettingsHttpPostIn" />
  <message name="GetSettingsHttpPostOut">
    <part name="Body" element="s0:iFolderSettings" />
  </message>
  <message name="IsiFolderHttpPostIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="IsiFolderHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="CanBeiFolderHttpPostIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="CanBeiFolderHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="IsPathIniFolderHttpPostIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="IsPathIniFolderHttpPostOut">
    <part name="Body" element="s0:boolean" />
  </message>
  <message name="CreateLocaliFolderHttpPostIn">
    <part name="Path" type="s:string" />
  </message>
  <message name="CreateLocaliFolderHttpPostOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="GetiFolderHttpPostIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderHttpPostOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="GetiFolderByLocalPathHttpPostIn">
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="GetiFolderByLocalPathHttpPostOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="DeleteiFolderHttpPostIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="DeleteiFolderHttpPostOut" />
  <message name="GetAlliFoldersHttpPostIn" />
  <message name="GetAlliFoldersHttpPostOut">
    <part name="Body" element="s0:ArrayOfIFolder" />
  </message>
  <message name="GetiFoldersHttpPostIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetiFoldersHttpPostOut">
    <part name="Body" element="s0:ArrayOfIFolder" />
  </message>
  <message name="SetUserRightsHttpPostIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
    <part name="Rights" type="s:string" />
  </message>
  <message name="SetUserRightsHttpPostOut" />
  <message name="GetOwnerHttpPostIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetOwnerHttpPostOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="ChangeOwnerHttpPostIn">
    <part name="iFolderID" type="s:string" />
    <part name="NewOwnerUserID" type="s:string" />
    <part name="OldOwnerRights" type="s:string" />
  </message>
  <message name="ChangeOwnerHttpPostOut" />
  <message name="RemoveiFolderUserHttpPostIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
  </message>
  <message name="RemoveiFolderUserHttpPostOut" />
  <message name="GetiFolderUsersHttpPostIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderUsersHttpPostOut">
    <part name="Body" element="s0:ArrayOfIFolderUser" />
  </message>
  <message name="GetAlliFolderUsersHttpPostIn" />
  <message name="GetAlliFolderUsersHttpPostOut">
    <part name="Body" element="s0:ArrayOfIFolderUser" />
  </message>
  <message name="GetiFolderUserHttpPostIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetiFolderUserHttpPostOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="GetiFolderUserFromiFolderHttpPostIn">
    <part name="UserID" type="s:string" />
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderUserFromiFolderHttpPostOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="InviteUserHttpPostIn">
    <part name="iFolderID" type="s:string" />
    <part name="UserID" type="s:string" />
    <part name="Rights" type="s:string" />
  </message>
  <message name="InviteUserHttpPostOut">
    <part name="Body" element="s0:iFolderUser" />
  </message>
  <message name="AcceptiFolderInvitationHttpPostIn">
    <part name="iFolderID" type="s:string" />
    <part name="LocalPath" type="s:string" />
  </message>
  <message name="AcceptiFolderInvitationHttpPostOut">
    <part name="Body" element="s0:iFolder" />
  </message>
  <message name="GetUserDiskSpaceHttpPostIn">
    <part name="UserID" type="s:string" />
  </message>
  <message name="GetUserDiskSpaceHttpPostOut">
    <part name="Body" element="s0:DiskSpace" />
  </message>
  <message name="GetiFolderDiskSpaceHttpPostIn">
    <part name="iFolderID" type="s:string" />
  </message>
  <message name="GetiFolderDiskSpaceHttpPostOut">
    <part name="Body" element="s0:DiskSpace" />
  </message>
  <message name="SetUserDiskSpaceLimitHttpPostIn">
    <part name="UserID" type="s:string" />
    <part name="Limit" type="s:long" />
  </message>
  <message name="SetUserDiskSpaceLimitHttpPostOut" />
  <message name="SetiFolderSyncIntervalHttpPostIn">
    <part name="iFolderID" type="s:string" />
    <part name="Interval" type="s:int" />
  </message>
  <message name="SetiFolderSyncIntervalHttpPostOut" />
  <message name="SetDefaultSyncIntervalHttpPostIn">
    <part name="Interval" type="s:int" />
  </message>
  <message name="SetDefaultSyncIntervalHttpPostOut" />
  <message name="GetDefaultSyncIntervalHttpPostIn" />
  <message name="GetDefaultSyncIntervalHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="ConnectToEnterpriseServerHttpPostIn">
    <part name="UserName" type="s:string" />
    <part name="Password" type="s:string" />
    <part name="Host" type="s:string" />
  </message>
  <message name="ConnectToEnterpriseServerHttpPostOut">
    <part name="Body" element="s0:iFolderSettings" />
  </message>
  <portType name="iFolder Web ServiceSoap">
    <operation name="Ping">
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
      <documentation>Allows a client to pint to make sure the Web Service is up and running</documentation>
    </operation>
    <operation name="GetSettings">
      <input message="s0:GetSettingsSoapIn" />
      <output message="s0:GetSettingsSoapOut" />
      <documentation>Gets the current iFolder Settings</documentation>
    </operation>
    <operation name="IsiFolder">
      <input message="s0:IsiFolderSoapIn" />
      <output message="s0:IsiFolderSoapOut" />
      <documentation>Checks a LocalPath to see if it's an iFolder</documentation>
    </operation>
    <operation name="CanBeiFolder">
      <input message="s0:CanBeiFolderSoapIn" />
      <output message="s0:CanBeiFolderSoapOut" />
      <documentation>Checks LocalPath to see if can be an iFolder</documentation>
    </operation>
    <operation name="IsPathIniFolder">
      <input message="s0:IsPathIniFolderSoapIn" />
      <output message="s0:IsPathIniFolderSoapOut" />
      <documentation>Checks LocalPath to see if is in an iFolder</documentation>
    </operation>
    <operation name="CreateLocaliFolder">
      <input message="s0:CreateLocaliFolderSoapIn" />
      <output message="s0:CreateLocaliFolderSoapOut" />
      <documentation>Create An iFolder. This will create an iFolder using the path specified.  The Path must exist or an exception will be thrown.</documentation>
    </operation>
    <operation name="GetiFolder">
      <input message="s0:GetiFolderSoapIn" />
      <output message="s0:GetiFolderSoapOut" />
      <documentation>Get An iFolder</documentation>
    </operation>
    <operation name="GetiFolderByLocalPath">
      <input message="s0:GetiFolderByLocalPathSoapIn" />
      <output message="s0:GetiFolderByLocalPathSoapOut" />
      <documentation>Get An iFolder using a LocalPath</documentation>
    </operation>
    <operation name="DeleteiFolder">
      <input message="s0:DeleteiFolderSoapIn" />
      <output message="s0:DeleteiFolderSoapOut" />
      <documentation>Delete An iFolder</documentation>
    </operation>
    <operation name="GetAlliFolders">
      <input message="s0:GetAlliFoldersSoapIn" />
      <output message="s0:GetAlliFoldersSoapOut" />
      <documentation>Returns all iFolders on the Server</documentation>
    </operation>
    <operation name="GetiFolders">
      <input message="s0:GetiFoldersSoapIn" />
      <output message="s0:GetiFoldersSoapOut" />
      <documentation>Returns iFolders for the specified UserID</documentation>
    </operation>
    <operation name="SetUserRights">
      <input message="s0:SetUserRightsSoapIn" />
      <output message="s0:SetUserRightsSoapOut" />
      <documentation>Set the Rights of a member of an iFolder.  The Rights can be "Admin", "ReadOnly", or "ReadWrite".</documentation>
    </operation>
    <operation name="GetOwner">
      <input message="s0:GetOwnerSoapIn" />
      <output message="s0:GetOwnerSoapOut" />
      <documentation>Get the Owner of an iFolder</documentation>
    </operation>
    <operation name="ChangeOwner">
      <input message="s0:ChangeOwnerSoapIn" />
      <output message="s0:ChangeOwnerSoapOut" />
      <documentation>Changes the owner of an iFolder and sets the rights of the previous owner to the rights specified.</documentation>
    </operation>
    <operation name="RemoveiFolderUser">
      <input message="s0:RemoveiFolderUserSoapIn" />
      <output message="s0:RemoveiFolderUserSoapOut" />
      <documentation>Remove a single member from an iFolder</documentation>
    </operation>
    <operation name="GetiFolderUsers">
      <input message="s0:GetiFolderUsersSoapIn" />
      <output message="s0:GetiFolderUsersSoapOut" />
      <documentation>Get the list of iFolder Members</documentation>
    </operation>
    <operation name="GetAlliFolderUsers">
      <input message="s0:GetAlliFolderUsersSoapIn" />
      <output message="s0:GetAlliFolderUsersSoapOut" />
      <documentation>Get the list of All Members</documentation>
    </operation>
    <operation name="GetiFolderUser">
      <input message="s0:GetiFolderUserSoapIn" />
      <output message="s0:GetiFolderUserSoapOut" />
      <documentation>Lookup a single member to a collection</documentation>
    </operation>
    <operation name="GetiFolderUserFromiFolder">
      <input message="s0:GetiFolderUserFromiFolderSoapIn" />
      <output message="s0:GetiFolderUserFromiFolderSoapOut" />
      <documentation>Lookup a single member to a collection</documentation>
    </operation>
    <operation name="InviteUser">
      <input message="s0:InviteUserSoapIn" />
      <output message="s0:InviteUserSoapOut" />
      <documentation>Invite a user to an iFolder.  This call will only work with Enterprise iFolders</documentation>
    </operation>
    <operation name="AcceptiFolderInvitation">
      <input message="s0:AcceptiFolderInvitationSoapIn" />
      <output message="s0:AcceptiFolderInvitationSoapOut" />
      <documentation>Accept an invitation fo an iFolder.  The iFolder ID represents a Subscription object</documentation>
    </operation>
    <operation name="GetUserDiskSpace">
      <input message="s0:GetUserDiskSpaceSoapIn" />
      <output message="s0:GetUserDiskSpaceSoapOut" />
      <documentation>Gets the DiskSpaceQuota for a member</documentation>
    </operation>
    <operation name="GetiFolderDiskSpace">
      <input message="s0:GetiFolderDiskSpaceSoapIn" />
      <output message="s0:GetiFolderDiskSpaceSoapOut" />
      <documentation>Gets the DiskSpaceQuota for an iFolder</documentation>
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <input message="s0:SetUserDiskSpaceLimitSoapIn" />
      <output message="s0:SetUserDiskSpaceLimitSoapOut" />
      <documentation>Sets the Disk Space Limit for a user</documentation>
    </operation>
    <operation name="SetiFolderSyncInterval">
      <input message="s0:SetiFolderSyncIntervalSoapIn" />
      <output message="s0:SetiFolderSyncIntervalSoapOut" />
      <documentation>Sets the Sync Interval for an iFolder</documentation>
    </operation>
    <operation name="SetDefaultSyncInterval">
      <input message="s0:SetDefaultSyncIntervalSoapIn" />
      <output message="s0:SetDefaultSyncIntervalSoapOut" />
      <documentation>Sets the Default Sync Interval</documentation>
    </operation>
    <operation name="GetDefaultSyncInterval">
      <input message="s0:GetDefaultSyncIntervalSoapIn" />
      <output message="s0:GetDefaultSyncIntervalSoapOut" />
      <documentation>Gets the Default Sync Interval</documentation>
    </operation>
    <operation name="ConnectToEnterpriseServer">
      <input message="s0:ConnectToEnterpriseServerSoapIn" />
      <output message="s0:ConnectToEnterpriseServerSoapOut" />
      <documentation>Connects to an iFolder Enterprise Server</documentation>
    </operation>
  </portType>
  <portType name="iFolder Web ServiceHttpGet">
    <operation name="Ping">
      <input message="s0:PingHttpGetIn" />
      <output message="s0:PingHttpGetOut" />
      <documentation>Allows a client to pint to make sure the Web Service is up and running</documentation>
    </operation>
    <operation name="GetSettings">
      <input message="s0:GetSettingsHttpGetIn" />
      <output message="s0:GetSettingsHttpGetOut" />
      <documentation>Gets the current iFolder Settings</documentation>
    </operation>
    <operation name="IsiFolder">
      <input message="s0:IsiFolderHttpGetIn" />
      <output message="s0:IsiFolderHttpGetOut" />
      <documentation>Checks a LocalPath to see if it's an iFolder</documentation>
    </operation>
    <operation name="CanBeiFolder">
      <input message="s0:CanBeiFolderHttpGetIn" />
      <output message="s0:CanBeiFolderHttpGetOut" />
      <documentation>Checks LocalPath to see if can be an iFolder</documentation>
    </operation>
    <operation name="IsPathIniFolder">
      <input message="s0:IsPathIniFolderHttpGetIn" />
      <output message="s0:IsPathIniFolderHttpGetOut" />
      <documentation>Checks LocalPath to see if is in an iFolder</documentation>
    </operation>
    <operation name="CreateLocaliFolder">
      <input message="s0:CreateLocaliFolderHttpGetIn" />
      <output message="s0:CreateLocaliFolderHttpGetOut" />
      <documentation>Create An iFolder. This will create an iFolder using the path specified.  The Path must exist or an exception will be thrown.</documentation>
    </operation>
    <operation name="GetiFolder">
      <input message="s0:GetiFolderHttpGetIn" />
      <output message="s0:GetiFolderHttpGetOut" />
      <documentation>Get An iFolder</documentation>
    </operation>
    <operation name="GetiFolderByLocalPath">
      <input message="s0:GetiFolderByLocalPathHttpGetIn" />
      <output message="s0:GetiFolderByLocalPathHttpGetOut" />
      <documentation>Get An iFolder using a LocalPath</documentation>
    </operation>
    <operation name="DeleteiFolder">
      <input message="s0:DeleteiFolderHttpGetIn" />
      <output message="s0:DeleteiFolderHttpGetOut" />
      <documentation>Delete An iFolder</documentation>
    </operation>
    <operation name="GetAlliFolders">
      <input message="s0:GetAlliFoldersHttpGetIn" />
      <output message="s0:GetAlliFoldersHttpGetOut" />
      <documentation>Returns all iFolders on the Server</documentation>
    </operation>
    <operation name="GetiFolders">
      <input message="s0:GetiFoldersHttpGetIn" />
      <output message="s0:GetiFoldersHttpGetOut" />
      <documentation>Returns iFolders for the specified UserID</documentation>
    </operation>
    <operation name="SetUserRights">
      <input message="s0:SetUserRightsHttpGetIn" />
      <output message="s0:SetUserRightsHttpGetOut" />
      <documentation>Set the Rights of a member of an iFolder.  The Rights can be "Admin", "ReadOnly", or "ReadWrite".</documentation>
    </operation>
    <operation name="GetOwner">
      <input message="s0:GetOwnerHttpGetIn" />
      <output message="s0:GetOwnerHttpGetOut" />
      <documentation>Get the Owner of an iFolder</documentation>
    </operation>
    <operation name="ChangeOwner">
      <input message="s0:ChangeOwnerHttpGetIn" />
      <output message="s0:ChangeOwnerHttpGetOut" />
      <documentation>Changes the owner of an iFolder and sets the rights of the previous owner to the rights specified.</documentation>
    </operation>
    <operation name="RemoveiFolderUser">
      <input message="s0:RemoveiFolderUserHttpGetIn" />
      <output message="s0:RemoveiFolderUserHttpGetOut" />
      <documentation>Remove a single member from an iFolder</documentation>
    </operation>
    <operation name="GetiFolderUsers">
      <input message="s0:GetiFolderUsersHttpGetIn" />
      <output message="s0:GetiFolderUsersHttpGetOut" />
      <documentation>Get the list of iFolder Members</documentation>
    </operation>
    <operation name="GetAlliFolderUsers">
      <input message="s0:GetAlliFolderUsersHttpGetIn" />
      <output message="s0:GetAlliFolderUsersHttpGetOut" />
      <documentation>Get the list of All Members</documentation>
    </operation>
    <operation name="GetiFolderUser">
      <input message="s0:GetiFolderUserHttpGetIn" />
      <output message="s0:GetiFolderUserHttpGetOut" />
      <documentation>Lookup a single member to a collection</documentation>
    </operation>
    <operation name="GetiFolderUserFromiFolder">
      <input message="s0:GetiFolderUserFromiFolderHttpGetIn" />
      <output message="s0:GetiFolderUserFromiFolderHttpGetOut" />
      <documentation>Lookup a single member to a collection</documentation>
    </operation>
    <operation name="InviteUser">
      <input message="s0:InviteUserHttpGetIn" />
      <output message="s0:InviteUserHttpGetOut" />
      <documentation>Invite a user to an iFolder.  This call will only work with Enterprise iFolders</documentation>
    </operation>
    <operation name="AcceptiFolderInvitation">
      <input message="s0:AcceptiFolderInvitationHttpGetIn" />
      <output message="s0:AcceptiFolderInvitationHttpGetOut" />
      <documentation>Accept an invitation fo an iFolder.  The iFolder ID represents a Subscription object</documentation>
    </operation>
    <operation name="GetUserDiskSpace">
      <input message="s0:GetUserDiskSpaceHttpGetIn" />
      <output message="s0:GetUserDiskSpaceHttpGetOut" />
      <documentation>Gets the DiskSpaceQuota for a member</documentation>
    </operation>
    <operation name="GetiFolderDiskSpace">
      <input message="s0:GetiFolderDiskSpaceHttpGetIn" />
      <output message="s0:GetiFolderDiskSpaceHttpGetOut" />
      <documentation>Gets the DiskSpaceQuota for an iFolder</documentation>
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <input message="s0:SetUserDiskSpaceLimitHttpGetIn" />
      <output message="s0:SetUserDiskSpaceLimitHttpGetOut" />
      <documentation>Sets the Disk Space Limit for a user</documentation>
    </operation>
    <operation name="SetiFolderSyncInterval">
      <input message="s0:SetiFolderSyncIntervalHttpGetIn" />
      <output message="s0:SetiFolderSyncIntervalHttpGetOut" />
      <documentation>Sets the Sync Interval for an iFolder</documentation>
    </operation>
    <operation name="SetDefaultSyncInterval">
      <input message="s0:SetDefaultSyncIntervalHttpGetIn" />
      <output message="s0:SetDefaultSyncIntervalHttpGetOut" />
      <documentation>Sets the Default Sync Interval</documentation>
    </operation>
    <operation name="GetDefaultSyncInterval">
      <input message="s0:GetDefaultSyncIntervalHttpGetIn" />
      <output message="s0:GetDefaultSyncIntervalHttpGetOut" />
      <documentation>Gets the Default Sync Interval</documentation>
    </operation>
    <operation name="ConnectToEnterpriseServer">
      <input message="s0:ConnectToEnterpriseServerHttpGetIn" />
      <output message="s0:ConnectToEnterpriseServerHttpGetOut" />
      <documentation>Connects to an iFolder Enterprise Server</documentation>
    </operation>
  </portType>
  <portType name="iFolder Web ServiceHttpPost">
    <operation name="Ping">
      <input message="s0:PingHttpPostIn" />
      <output message="s0:PingHttpPostOut" />
      <documentation>Allows a client to pint to make sure the Web Service is up and running</documentation>
    </operation>
    <operation name="GetSettings">
      <input message="s0:GetSettingsHttpPostIn" />
      <output message="s0:GetSettingsHttpPostOut" />
      <documentation>Gets the current iFolder Settings</documentation>
    </operation>
    <operation name="IsiFolder">
      <input message="s0:IsiFolderHttpPostIn" />
      <output message="s0:IsiFolderHttpPostOut" />
      <documentation>Checks a LocalPath to see if it's an iFolder</documentation>
    </operation>
    <operation name="CanBeiFolder">
      <input message="s0:CanBeiFolderHttpPostIn" />
      <output message="s0:CanBeiFolderHttpPostOut" />
      <documentation>Checks LocalPath to see if can be an iFolder</documentation>
    </operation>
    <operation name="IsPathIniFolder">
      <input message="s0:IsPathIniFolderHttpPostIn" />
      <output message="s0:IsPathIniFolderHttpPostOut" />
      <documentation>Checks LocalPath to see if is in an iFolder</documentation>
    </operation>
    <operation name="CreateLocaliFolder">
      <input message="s0:CreateLocaliFolderHttpPostIn" />
      <output message="s0:CreateLocaliFolderHttpPostOut" />
      <documentation>Create An iFolder. This will create an iFolder using the path specified.  The Path must exist or an exception will be thrown.</documentation>
    </operation>
    <operation name="GetiFolder">
      <input message="s0:GetiFolderHttpPostIn" />
      <output message="s0:GetiFolderHttpPostOut" />
      <documentation>Get An iFolder</documentation>
    </operation>
    <operation name="GetiFolderByLocalPath">
      <input message="s0:GetiFolderByLocalPathHttpPostIn" />
      <output message="s0:GetiFolderByLocalPathHttpPostOut" />
      <documentation>Get An iFolder using a LocalPath</documentation>
    </operation>
    <operation name="DeleteiFolder">
      <input message="s0:DeleteiFolderHttpPostIn" />
      <output message="s0:DeleteiFolderHttpPostOut" />
      <documentation>Delete An iFolder</documentation>
    </operation>
    <operation name="GetAlliFolders">
      <input message="s0:GetAlliFoldersHttpPostIn" />
      <output message="s0:GetAlliFoldersHttpPostOut" />
      <documentation>Returns all iFolders on the Server</documentation>
    </operation>
    <operation name="GetiFolders">
      <input message="s0:GetiFoldersHttpPostIn" />
      <output message="s0:GetiFoldersHttpPostOut" />
      <documentation>Returns iFolders for the specified UserID</documentation>
    </operation>
    <operation name="SetUserRights">
      <input message="s0:SetUserRightsHttpPostIn" />
      <output message="s0:SetUserRightsHttpPostOut" />
      <documentation>Set the Rights of a member of an iFolder.  The Rights can be "Admin", "ReadOnly", or "ReadWrite".</documentation>
    </operation>
    <operation name="GetOwner">
      <input message="s0:GetOwnerHttpPostIn" />
      <output message="s0:GetOwnerHttpPostOut" />
      <documentation>Get the Owner of an iFolder</documentation>
    </operation>
    <operation name="ChangeOwner">
      <input message="s0:ChangeOwnerHttpPostIn" />
      <output message="s0:ChangeOwnerHttpPostOut" />
      <documentation>Changes the owner of an iFolder and sets the rights of the previous owner to the rights specified.</documentation>
    </operation>
    <operation name="RemoveiFolderUser">
      <input message="s0:RemoveiFolderUserHttpPostIn" />
      <output message="s0:RemoveiFolderUserHttpPostOut" />
      <documentation>Remove a single member from an iFolder</documentation>
    </operation>
    <operation name="GetiFolderUsers">
      <input message="s0:GetiFolderUsersHttpPostIn" />
      <output message="s0:GetiFolderUsersHttpPostOut" />
      <documentation>Get the list of iFolder Members</documentation>
    </operation>
    <operation name="GetAlliFolderUsers">
      <input message="s0:GetAlliFolderUsersHttpPostIn" />
      <output message="s0:GetAlliFolderUsersHttpPostOut" />
      <documentation>Get the list of All Members</documentation>
    </operation>
    <operation name="GetiFolderUser">
      <input message="s0:GetiFolderUserHttpPostIn" />
      <output message="s0:GetiFolderUserHttpPostOut" />
      <documentation>Lookup a single member to a collection</documentation>
    </operation>
    <operation name="GetiFolderUserFromiFolder">
      <input message="s0:GetiFolderUserFromiFolderHttpPostIn" />
      <output message="s0:GetiFolderUserFromiFolderHttpPostOut" />
      <documentation>Lookup a single member to a collection</documentation>
    </operation>
    <operation name="InviteUser">
      <input message="s0:InviteUserHttpPostIn" />
      <output message="s0:InviteUserHttpPostOut" />
      <documentation>Invite a user to an iFolder.  This call will only work with Enterprise iFolders</documentation>
    </operation>
    <operation name="AcceptiFolderInvitation">
      <input message="s0:AcceptiFolderInvitationHttpPostIn" />
      <output message="s0:AcceptiFolderInvitationHttpPostOut" />
      <documentation>Accept an invitation fo an iFolder.  The iFolder ID represents a Subscription object</documentation>
    </operation>
    <operation name="GetUserDiskSpace">
      <input message="s0:GetUserDiskSpaceHttpPostIn" />
      <output message="s0:GetUserDiskSpaceHttpPostOut" />
      <documentation>Gets the DiskSpaceQuota for a member</documentation>
    </operation>
    <operation name="GetiFolderDiskSpace">
      <input message="s0:GetiFolderDiskSpaceHttpPostIn" />
      <output message="s0:GetiFolderDiskSpaceHttpPostOut" />
      <documentation>Gets the DiskSpaceQuota for an iFolder</documentation>
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <input message="s0:SetUserDiskSpaceLimitHttpPostIn" />
      <output message="s0:SetUserDiskSpaceLimitHttpPostOut" />
      <documentation>Sets the Disk Space Limit for a user</documentation>
    </operation>
    <operation name="SetiFolderSyncInterval">
      <input message="s0:SetiFolderSyncIntervalHttpPostIn" />
      <output message="s0:SetiFolderSyncIntervalHttpPostOut" />
      <documentation>Sets the Sync Interval for an iFolder</documentation>
    </operation>
    <operation name="SetDefaultSyncInterval">
      <input message="s0:SetDefaultSyncIntervalHttpPostIn" />
      <output message="s0:SetDefaultSyncIntervalHttpPostOut" />
      <documentation>Sets the Default Sync Interval</documentation>
    </operation>
    <operation name="GetDefaultSyncInterval">
      <input message="s0:GetDefaultSyncIntervalHttpPostIn" />
      <output message="s0:GetDefaultSyncIntervalHttpPostOut" />
      <documentation>Gets the Default Sync Interval</documentation>
    </operation>
    <operation name="ConnectToEnterpriseServer">
      <input message="s0:ConnectToEnterpriseServerHttpPostIn" />
      <output message="s0:ConnectToEnterpriseServerHttpPostOut" />
      <documentation>Connects to an iFolder Enterprise Server</documentation>
    </operation>
  </portType>
  <binding name="iFolder Web ServiceSoap" type="s0:iFolder Web ServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/Ping" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetSettings">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetSettings" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="IsiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/IsiFolder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="CanBeiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/CanBeiFolder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="IsPathIniFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/IsPathIniFolder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="CreateLocaliFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/CreateLocaliFolder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetiFolder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetiFolderByLocalPath">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetiFolderByLocalPath" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="DeleteiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/DeleteiFolder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetAlliFolders">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetAlliFolders" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetiFolders">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetiFolders" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="SetUserRights">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/SetUserRights" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetOwner">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetOwner" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="ChangeOwner">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/ChangeOwner" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="RemoveiFolderUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/RemoveiFolderUser" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetiFolderUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetiFolderUsers" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetAlliFolderUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetAlliFolderUsers" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetiFolderUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetiFolderUser" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetiFolderUserFromiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetiFolderUserFromiFolder" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="InviteUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/InviteUser" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="AcceptiFolderInvitation">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/AcceptiFolderInvitation" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetUserDiskSpace">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetUserDiskSpace" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetiFolderDiskSpace">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetiFolderDiskSpace" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/SetUserDiskSpaceLimit" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="SetiFolderSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/SetiFolderSyncInterval" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="SetDefaultSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/SetDefaultSyncInterval" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="GetDefaultSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/GetDefaultSyncInterval" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
    <operation name="ConnectToEnterpriseServer">
      <soap:operation soapAction="http://novell.com/ifolder/web/encodedTypes/ConnectToEnterpriseServer" style="rpc" />
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://novell.com/ifolder/web/" use="encoded" />
      </output>
    </operation>
  </binding>
  <binding name="iFolder Web ServiceHttpGet" type="s0:iFolder Web ServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="Ping">
      <http:operation location="/Ping" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetSettings">
      <http:operation location="/GetSettings" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsiFolder">
      <http:operation location="/IsiFolder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CanBeiFolder">
      <http:operation location="/CanBeiFolder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsPathIniFolder">
      <http:operation location="/IsPathIniFolder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreateLocaliFolder">
      <http:operation location="/CreateLocaliFolder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolder">
      <http:operation location="/GetiFolder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderByLocalPath">
      <http:operation location="/GetiFolderByLocalPath" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DeleteiFolder">
      <http:operation location="/DeleteiFolder" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetAlliFolders">
      <http:operation location="/GetAlliFolders" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolders">
      <http:operation location="/GetiFolders" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetUserRights">
      <http:operation location="/SetUserRights" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetOwner">
      <http:operation location="/GetOwner" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangeOwner">
      <http:operation location="/ChangeOwner" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="RemoveiFolderUser">
      <http:operation location="/RemoveiFolderUser" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetiFolderUsers">
      <http:operation location="/GetiFolderUsers" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAlliFolderUsers">
      <http:operation location="/GetAlliFolderUsers" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderUser">
      <http:operation location="/GetiFolderUser" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderUserFromiFolder">
      <http:operation location="/GetiFolderUserFromiFolder" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="InviteUser">
      <http:operation location="/InviteUser" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AcceptiFolderInvitation">
      <http:operation location="/AcceptiFolderInvitation" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUserDiskSpace">
      <http:operation location="/GetUserDiskSpace" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderDiskSpace">
      <http:operation location="/GetiFolderDiskSpace" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <http:operation location="/SetUserDiskSpaceLimit" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="SetiFolderSyncInterval">
      <http:operation location="/SetiFolderSyncInterval" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="SetDefaultSyncInterval">
      <http:operation location="/SetDefaultSyncInterval" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetDefaultSyncInterval">
      <http:operation location="/GetDefaultSyncInterval" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ConnectToEnterpriseServer">
      <http:operation location="/ConnectToEnterpriseServer" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="iFolder Web ServiceHttpPost" type="s0:iFolder Web ServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="Ping">
      <http:operation location="/Ping" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetSettings">
      <http:operation location="/GetSettings" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsiFolder">
      <http:operation location="/IsiFolder" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CanBeiFolder">
      <http:operation location="/CanBeiFolder" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="IsPathIniFolder">
      <http:operation location="/IsPathIniFolder" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="CreateLocaliFolder">
      <http:operation location="/CreateLocaliFolder" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolder">
      <http:operation location="/GetiFolder" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderByLocalPath">
      <http:operation location="/GetiFolderByLocalPath" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="DeleteiFolder">
      <http:operation location="/DeleteiFolder" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetAlliFolders">
      <http:operation location="/GetAlliFolders" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolders">
      <http:operation location="/GetiFolders" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetUserRights">
      <http:operation location="/SetUserRights" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetOwner">
      <http:operation location="/GetOwner" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ChangeOwner">
      <http:operation location="/ChangeOwner" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="RemoveiFolderUser">
      <http:operation location="/RemoveiFolderUser" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetiFolderUsers">
      <http:operation location="/GetiFolderUsers" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetAlliFolderUsers">
      <http:operation location="/GetAlliFolderUsers" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderUser">
      <http:operation location="/GetiFolderUser" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderUserFromiFolder">
      <http:operation location="/GetiFolderUserFromiFolder" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="InviteUser">
      <http:operation location="/InviteUser" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AcceptiFolderInvitation">
      <http:operation location="/AcceptiFolderInvitation" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetUserDiskSpace">
      <http:operation location="/GetUserDiskSpace" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetiFolderDiskSpace">
      <http:operation location="/GetiFolderDiskSpace" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <http:operation location="/SetUserDiskSpaceLimit" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="SetiFolderSyncInterval">
      <http:operation location="/SetiFolderSyncInterval" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="SetDefaultSyncInterval">
      <http:operation location="/SetDefaultSyncInterval" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetDefaultSyncInterval">
      <http:operation location="/GetDefaultSyncInterval" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="ConnectToEnterpriseServer">
      <http:operation location="/ConnectToEnterpriseServer" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="iFolder Web Service">
    <port name="iFolder Web ServiceSoap" binding="s0:iFolder Web ServiceSoap">
      <soap:address location="http://localhost:8086/iFolder.asmx" />
    </port>
    <port name="iFolder Web ServiceHttpGet" binding="s0:iFolder Web ServiceHttpGet">
      <http:address location="http://localhost:8086/iFolder.asmx" />
    </port>
    <port name="iFolder Web ServiceHttpPost" binding="s0:iFolder Web ServiceHttpPost">
      <http:address location="http://localhost:8086/iFolder.asmx" />
    </port>
    <documentation>Web Service providing access to iFolder</documentation>
  </service>
</definitions>