simias/src/mDnsDomain/mDns.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/simias/mdns-auth/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/simias/mdns-auth/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/simias/mdns-auth/">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:portType name="Simias_x0020_mDns_x0020_Authentication_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="Authenticate">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Authenticate to a remote mDns domain.</documentation>
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Simias_x0020_mDns_x0020_Authentication_x0020_Web_x0020_ServiceSoap" type="tns:Simias_x0020_mDns_x0020_Authentication_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://novell.com/simias/mdns-auth/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Simias_x0020_mDns_x0020_Authentication_x0020_Web_x0020_Service">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web Service providing remote authentication to an mDns domain</documentation>
    <wsdl:port name="Simias_x0020_mDns_x0020_Authentication_x0020_Web_x0020_ServiceSoap" binding="tns:Simias_x0020_mDns_x0020_Authentication_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://127.0.0.1:1176/simias10/banderso/mDns.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>