src/WebService/iFolderWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://novell.com/ifolder/web/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/ifolder/web/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/ifolder/web/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsiFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanBeiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanBeiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanBeiFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPathIniFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPathIniFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPathIniFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLocaliFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLocaliFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateLocaliFolderResult" type="s0:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderWeb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocalIncarnation" type="s:unsignedLong" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagedPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnManagedPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MasterIncarnation" type="s:unsignedLong" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveSyncInterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncInterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Synchronizable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSubscription" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnumeratedState" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsWorkgroup" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasConflicts" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentUserRights" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CollectionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSyncTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateiFolderInDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateiFolderInDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateiFolderInDomainResult" type="s0:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderResult" type="s0:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderInvitation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="POBoxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderInvitationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderInvitationResult" type="s0:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderByLocalPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderByLocalPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderByLocalPathResult" type="s0:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolderResponse">
        <s:complexType />
      </s:element>
      <s:element name="RevertiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RevertiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RevertiFolderResult" type="s0:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlliFolders">
        <s:complexType />
      </s:element>
      <s:element name="GetAlliFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlliFoldersResult" type="s0:ArrayOfIFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolderWeb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolderWeb" nillable="true" type="s0:iFolderWeb" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetiFoldersForDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFoldersForDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersForDomainResult" type="s0:ArrayOfIFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersResult" type="s0:ArrayOfIFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserRightsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOwnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOwnerResult" type="s0:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOwner" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangeOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewOwnerUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldOwnerRights" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeOwnerResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveiFolderUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveiFolderUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetiFolderUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderUsersResult" type="s0:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolderUser" nillable="true" type="s0:iFolderUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDomainUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numUsers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainUsersResult" type="s0:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchForDomainUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchForDomainUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchForDomainUsersResult" type="s0:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCloseiFolderMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCloseiFolderMembersResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindFirstiFolderMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFirstiFolderMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindFirstiFolderMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="totalMembers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFirstSpecificiFolderMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="operation" type="s0:SearchType" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SearchType">
        <s:restriction base="s:string">
          <s:enumeration value="Equal" />
          <s:enumeration value="Not_Equal" />
          <s:enumeration value="Begins" />
          <s:enumeration value="Ends" />
          <s:enumeration value="Contains" />
          <s:enumeration value="Greater" />
          <s:enumeration value="Less" />
          <s:enumeration value="Greater_Equal" />
          <s:enumeration value="Less_Equal" />
          <s:enumeration value="Exists" />
          <s:enumeration value="CaseEqual" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FindFirstSpecificiFolderMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindFirstSpecificiFolderMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="totalMembers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextiFolderMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextiFolderMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindNextiFolderMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPreviousiFolderMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPreviousiFolderMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindPreviousiFolderMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSeekiFolderMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindSeekiFolderMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindSeekiFolderMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="s0:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderUserResult" type="s0:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUserFromNodeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NodeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUserFromNodeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderUserFromNodeIDResult" type="s0:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAndInviteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GivenName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PublicKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAndInviteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAndInviteUserResult" type="s0:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InviteUserResult" type="s0:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptiFolderInvitation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptiFolderInvitationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcceptiFolderInvitationResult" type="s0:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeclineiFolderInvitation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeclineiFolderInvitationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserDiskSpace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDiskSpaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDiskSpaceResult" type="s0:DiskSpace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DiskSpace">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AvailableSpace" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UsedSpace" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetiFolderDiskSpace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderDiskSpaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderDiskSpaceResult" type="s0:DiskSpace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserDiskSpaceLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserDiskSpaceLimitResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetiFolderDiskSpaceLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderDiskSpaceLimitResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetiFolderSyncInterval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Interval" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderSyncIntervalResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetDefaultSyncInterval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Interval" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultSyncIntervalResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultSyncInterval">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultSyncIntervalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDefaultSyncIntervalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateToDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateToDomainResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderConflicts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderConflictsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderConflictsResult" type="s0:ArrayOfConflict" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConflict">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Conflict" nillable="true" type="s0:Conflict" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Conflict">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConflictID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalSize" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalFullPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNameConflict" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerSize" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerFullPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResolveFileConflict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conflictID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="localChangesWin" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResolveFileConflictResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResolveNameConflict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conflictID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newLocalName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResolveNameConflictResponse">
        <s:complexType />
      </s:element>
      <s:element name="RenameAndResolveConflict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conflictID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameAndResolveConflictResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetupProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupProxyResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveProxy">
        <s:complexType />
      </s:element>
      <s:element name="RemoveProxyResponse">
        <s:complexType />
      </s:element>
      <s:element name="CalculateSyncSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateSyncSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateSyncSizeResult" type="s0:SyncSize" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SyncSize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SyncNodeCount" type="s:unsignedInt" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncByteCount" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
      <s:element name="SynciFolderNow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynciFolderNowResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolderFileSizeLimitResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMemberiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberiFolderFileSizeLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMemberiFolderFileSizeLimitResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderFileSizeLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetiFolderFileSizeLimitResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderFileSizeLimitResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckForUpdatedClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpdatedClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckForUpdatedClientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunClientUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunClientUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunClientUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="PingSoapIn">
    <part name="parameters" element="s0:Ping" />
  </message>
  <message name="PingSoapOut">
    <part name="parameters" element="s0:PingResponse" />
  </message>
  <message name="IsiFolderSoapIn">
    <part name="parameters" element="s0:IsiFolder" />
  </message>
  <message name="IsiFolderSoapOut">
    <part name="parameters" element="s0:IsiFolderResponse" />
  </message>
  <message name="CanBeiFolderSoapIn">
    <part name="parameters" element="s0:CanBeiFolder" />
  </message>
  <message name="CanBeiFolderSoapOut">
    <part name="parameters" element="s0:CanBeiFolderResponse" />
  </message>
  <message name="IsPathIniFolderSoapIn">
    <part name="parameters" element="s0:IsPathIniFolder" />
  </message>
  <message name="IsPathIniFolderSoapOut">
    <part name="parameters" element="s0:IsPathIniFolderResponse" />
  </message>
  <message name="CreateLocaliFolderSoapIn">
    <part name="parameters" element="s0:CreateLocaliFolder" />
  </message>
  <message name="CreateLocaliFolderSoapOut">
    <part name="parameters" element="s0:CreateLocaliFolderResponse" />
  </message>
  <message name="CreateiFolderInDomainSoapIn">
    <part name="parameters" element="s0:CreateiFolderInDomain" />
  </message>
  <message name="CreateiFolderInDomainSoapOut">
    <part name="parameters" element="s0:CreateiFolderInDomainResponse" />
  </message>
  <message name="GetiFolderSoapIn">
    <part name="parameters" element="s0:GetiFolder" />
  </message>
  <message name="GetiFolderSoapOut">
    <part name="parameters" element="s0:GetiFolderResponse" />
  </message>
  <message name="GetiFolderInvitationSoapIn">
    <part name="parameters" element="s0:GetiFolderInvitation" />
  </message>
  <message name="GetiFolderInvitationSoapOut">
    <part name="parameters" element="s0:GetiFolderInvitationResponse" />
  </message>
  <message name="GetiFolderByLocalPathSoapIn">
    <part name="parameters" element="s0:GetiFolderByLocalPath" />
  </message>
  <message name="GetiFolderByLocalPathSoapOut">
    <part name="parameters" element="s0:GetiFolderByLocalPathResponse" />
  </message>
  <message name="DeleteiFolderSoapIn">
    <part name="parameters" element="s0:DeleteiFolder" />
  </message>
  <message name="DeleteiFolderSoapOut">
    <part name="parameters" element="s0:DeleteiFolderResponse" />
  </message>
  <message name="RevertiFolderSoapIn">
    <part name="parameters" element="s0:RevertiFolder" />
  </message>
  <message name="RevertiFolderSoapOut">
    <part name="parameters" element="s0:RevertiFolderResponse" />
  </message>
  <message name="GetAlliFoldersSoapIn">
    <part name="parameters" element="s0:GetAlliFolders" />
  </message>
  <message name="GetAlliFoldersSoapOut">
    <part name="parameters" element="s0:GetAlliFoldersResponse" />
  </message>
  <message name="GetiFoldersForDomainSoapIn">
    <part name="parameters" element="s0:GetiFoldersForDomain" />
  </message>
  <message name="GetiFoldersForDomainSoapOut">
    <part name="parameters" element="s0:GetiFoldersForDomainResponse" />
  </message>
  <message name="GetiFoldersSoapIn">
    <part name="parameters" element="s0:GetiFolders" />
  </message>
  <message name="GetiFoldersSoapOut">
    <part name="parameters" element="s0:GetiFoldersResponse" />
  </message>
  <message name="SetUserRightsSoapIn">
    <part name="parameters" element="s0:SetUserRights" />
  </message>
  <message name="SetUserRightsSoapOut">
    <part name="parameters" element="s0:SetUserRightsResponse" />
  </message>
  <message name="GetOwnerSoapIn">
    <part name="parameters" element="s0:GetOwner" />
  </message>
  <message name="GetOwnerSoapOut">
    <part name="parameters" element="s0:GetOwnerResponse" />
  </message>
  <message name="ChangeOwnerSoapIn">
    <part name="parameters" element="s0:ChangeOwner" />
  </message>
  <message name="ChangeOwnerSoapOut">
    <part name="parameters" element="s0:ChangeOwnerResponse" />
  </message>
  <message name="RemoveiFolderUserSoapIn">
    <part name="parameters" element="s0:RemoveiFolderUser" />
  </message>
  <message name="RemoveiFolderUserSoapOut">
    <part name="parameters" element="s0:RemoveiFolderUserResponse" />
  </message>
  <message name="GetiFolderUsersSoapIn">
    <part name="parameters" element="s0:GetiFolderUsers" />
  </message>
  <message name="GetiFolderUsersSoapOut">
    <part name="parameters" element="s0:GetiFolderUsersResponse" />
  </message>
  <message name="GetDomainUsersSoapIn">
    <part name="parameters" element="s0:GetDomainUsers" />
  </message>
  <message name="GetDomainUsersSoapOut">
    <part name="parameters" element="s0:GetDomainUsersResponse" />
  </message>
  <message name="SearchForDomainUsersSoapIn">
    <part name="parameters" element="s0:SearchForDomainUsers" />
  </message>
  <message name="SearchForDomainUsersSoapOut">
    <part name="parameters" element="s0:SearchForDomainUsersResponse" />
  </message>
  <message name="FindCloseiFolderMembersSoapIn">
    <part name="parameters" element="s0:FindCloseiFolderMembers" />
  </message>
  <message name="FindCloseiFolderMembersSoapOut">
    <part name="parameters" element="s0:FindCloseiFolderMembersResponse" />
  </message>
  <message name="FindFirstiFolderMembersSoapIn">
    <part name="parameters" element="s0:FindFirstiFolderMembers" />
  </message>
  <message name="FindFirstiFolderMembersSoapOut">
    <part name="parameters" element="s0:FindFirstiFolderMembersResponse" />
  </message>
  <message name="FindFirstSpecificiFolderMembersSoapIn">
    <part name="parameters" element="s0:FindFirstSpecificiFolderMembers" />
  </message>
  <message name="FindFirstSpecificiFolderMembersSoapOut">
    <part name="parameters" element="s0:FindFirstSpecificiFolderMembersResponse" />
  </message>
  <message name="FindNextiFolderMembersSoapIn">
    <part name="parameters" element="s0:FindNextiFolderMembers" />
  </message>
  <message name="FindNextiFolderMembersSoapOut">
    <part name="parameters" element="s0:FindNextiFolderMembersResponse" />
  </message>
  <message name="FindPreviousiFolderMembersSoapIn">
    <part name="parameters" element="s0:FindPreviousiFolderMembers" />
  </message>
  <message name="FindPreviousiFolderMembersSoapOut">
    <part name="parameters" element="s0:FindPreviousiFolderMembersResponse" />
  </message>
  <message name="FindSeekiFolderMembersSoapIn">
    <part name="parameters" element="s0:FindSeekiFolderMembers" />
  </message>
  <message name="FindSeekiFolderMembersSoapOut">
    <part name="parameters" element="s0:FindSeekiFolderMembersResponse" />
  </message>
  <message name="GetiFolderUserSoapIn">
    <part name="parameters" element="s0:GetiFolderUser" />
  </message>
  <message name="GetiFolderUserSoapOut">
    <part name="parameters" element="s0:GetiFolderUserResponse" />
  </message>
  <message name="GetiFolderUserFromNodeIDSoapIn">
    <part name="parameters" element="s0:GetiFolderUserFromNodeID" />
  </message>
  <message name="GetiFolderUserFromNodeIDSoapOut">
    <part name="parameters" element="s0:GetiFolderUserFromNodeIDResponse" />
  </message>
  <message name="AddAndInviteUserSoapIn">
    <part name="parameters" element="s0:AddAndInviteUser" />
  </message>
  <message name="AddAndInviteUserSoapOut">
    <part name="parameters" element="s0:AddAndInviteUserResponse" />
  </message>
  <message name="InviteUserSoapIn">
    <part name="parameters" element="s0:InviteUser" />
  </message>
  <message name="InviteUserSoapOut">
    <part name="parameters" element="s0:InviteUserResponse" />
  </message>
  <message name="AcceptiFolderInvitationSoapIn">
    <part name="parameters" element="s0:AcceptiFolderInvitation" />
  </message>
  <message name="AcceptiFolderInvitationSoapOut">
    <part name="parameters" element="s0:AcceptiFolderInvitationResponse" />
  </message>
  <message name="DeclineiFolderInvitationSoapIn">
    <part name="parameters" element="s0:DeclineiFolderInvitation" />
  </message>
  <message name="DeclineiFolderInvitationSoapOut">
    <part name="parameters" element="s0:DeclineiFolderInvitationResponse" />
  </message>
  <message name="GetUserDiskSpaceSoapIn">
    <part name="parameters" element="s0:GetUserDiskSpace" />
  </message>
  <message name="GetUserDiskSpaceSoapOut">
    <part name="parameters" element="s0:GetUserDiskSpaceResponse" />
  </message>
  <message name="GetiFolderDiskSpaceSoapIn">
    <part name="parameters" element="s0:GetiFolderDiskSpace" />
  </message>
  <message name="GetiFolderDiskSpaceSoapOut">
    <part name="parameters" element="s0:GetiFolderDiskSpaceResponse" />
  </message>
  <message name="SetUserDiskSpaceLimitSoapIn">
    <part name="parameters" element="s0:SetUserDiskSpaceLimit" />
  </message>
  <message name="SetUserDiskSpaceLimitSoapOut">
    <part name="parameters" element="s0:SetUserDiskSpaceLimitResponse" />
  </message>
  <message name="SetiFolderDiskSpaceLimitSoapIn">
    <part name="parameters" element="s0:SetiFolderDiskSpaceLimit" />
  </message>
  <message name="SetiFolderDiskSpaceLimitSoapOut">
    <part name="parameters" element="s0:SetiFolderDiskSpaceLimitResponse" />
  </message>
  <message name="SetiFolderSyncIntervalSoapIn">
    <part name="parameters" element="s0:SetiFolderSyncInterval" />
  </message>
  <message name="SetiFolderSyncIntervalSoapOut">
    <part name="parameters" element="s0:SetiFolderSyncIntervalResponse" />
  </message>
  <message name="SetDefaultSyncIntervalSoapIn">
    <part name="parameters" element="s0:SetDefaultSyncInterval" />
  </message>
  <message name="SetDefaultSyncIntervalSoapOut">
    <part name="parameters" element="s0:SetDefaultSyncIntervalResponse" />
  </message>
  <message name="GetDefaultSyncIntervalSoapIn">
    <part name="parameters" element="s0:GetDefaultSyncInterval" />
  </message>
  <message name="GetDefaultSyncIntervalSoapOut">
    <part name="parameters" element="s0:GetDefaultSyncIntervalResponse" />
  </message>
  <message name="AuthenticateToDomainSoapIn">
    <part name="parameters" element="s0:AuthenticateToDomain" />
  </message>
  <message name="AuthenticateToDomainSoapOut">
    <part name="parameters" element="s0:AuthenticateToDomainResponse" />
  </message>
  <message name="GetiFolderConflictsSoapIn">
    <part name="parameters" element="s0:GetiFolderConflicts" />
  </message>
  <message name="GetiFolderConflictsSoapOut">
    <part name="parameters" element="s0:GetiFolderConflictsResponse" />
  </message>
  <message name="ResolveFileConflictSoapIn">
    <part name="parameters" element="s0:ResolveFileConflict" />
  </message>
  <message name="ResolveFileConflictSoapOut">
    <part name="parameters" element="s0:ResolveFileConflictResponse" />
  </message>
  <message name="ResolveNameConflictSoapIn">
    <part name="parameters" element="s0:ResolveNameConflict" />
  </message>
  <message name="ResolveNameConflictSoapOut">
    <part name="parameters" element="s0:ResolveNameConflictResponse" />
  </message>
  <message name="RenameAndResolveConflictSoapIn">
    <part name="parameters" element="s0:RenameAndResolveConflict" />
  </message>
  <message name="RenameAndResolveConflictSoapOut">
    <part name="parameters" element="s0:RenameAndResolveConflictResponse" />
  </message>
  <message name="SetupProxySoapIn">
    <part name="parameters" element="s0:SetupProxy" />
  </message>
  <message name="SetupProxySoapOut">
    <part name="parameters" element="s0:SetupProxyResponse" />
  </message>
  <message name="RemoveProxySoapIn">
    <part name="parameters" element="s0:RemoveProxy" />
  </message>
  <message name="RemoveProxySoapOut">
    <part name="parameters" element="s0:RemoveProxyResponse" />
  </message>
  <message name="CalculateSyncSizeSoapIn">
    <part name="parameters" element="s0:CalculateSyncSize" />
  </message>
  <message name="CalculateSyncSizeSoapOut">
    <part name="parameters" element="s0:CalculateSyncSizeResponse" />
  </message>
  <message name="SynciFolderNowSoapIn">
    <part name="parameters" element="s0:SynciFolderNow" />
  </message>
  <message name="SynciFolderNowSoapOut">
    <part name="parameters" element="s0:SynciFolderNowResponse" />
  </message>
  <message name="DeleteiFolderFileSizeLimitSoapIn">
    <part name="parameters" element="s0:DeleteiFolderFileSizeLimit" />
  </message>
  <message name="DeleteiFolderFileSizeLimitSoapOut">
    <part name="parameters" element="s0:DeleteiFolderFileSizeLimitResponse" />
  </message>
  <message name="GetMemberiFolderFileSizeLimitSoapIn">
    <part name="parameters" element="s0:GetMemberiFolderFileSizeLimit" />
  </message>
  <message name="GetMemberiFolderFileSizeLimitSoapOut">
    <part name="parameters" element="s0:GetMemberiFolderFileSizeLimitResponse" />
  </message>
  <message name="GetiFolderFileSizeLimitSoapIn">
    <part name="parameters" element="s0:GetiFolderFileSizeLimit" />
  </message>
  <message name="GetiFolderFileSizeLimitSoapOut">
    <part name="parameters" element="s0:GetiFolderFileSizeLimitResponse" />
  </message>
  <message name="SetiFolderFileSizeLimitSoapIn">
    <part name="parameters" element="s0:SetiFolderFileSizeLimit" />
  </message>
  <message name="SetiFolderFileSizeLimitSoapOut">
    <part name="parameters" element="s0:SetiFolderFileSizeLimitResponse" />
  </message>
  <message name="CheckForUpdatedClientSoapIn">
    <part name="parameters" element="s0:CheckForUpdatedClient" />
  </message>
  <message name="CheckForUpdatedClientSoapOut">
    <part name="parameters" element="s0:CheckForUpdatedClientResponse" />
  </message>
  <message name="RunClientUpdateSoapIn">
    <part name="parameters" element="s0:RunClientUpdate" />
  </message>
  <message name="RunClientUpdateSoapOut">
    <part name="parameters" element="s0:RunClientUpdateResponse" />
  </message>
  <portType name="iFolderWebServiceSoap">
    <operation name="Ping">
      <documentation>Allows a client to ping to make sure the Web Service is up and running</documentation>
      <input message="s0:PingSoapIn" />
      <output message="s0:PingSoapOut" />
    </operation>
    <operation name="IsiFolder">
      <documentation>Checks a LocalPath to see if it's an iFolder</documentation>
      <input message="s0:IsiFolderSoapIn" />
      <output message="s0:IsiFolderSoapOut" />
    </operation>
    <operation name="CanBeiFolder">
      <documentation>Checks LocalPath to see if can be an iFolder</documentation>
      <input message="s0:CanBeiFolderSoapIn" />
      <output message="s0:CanBeiFolderSoapOut" />
    </operation>
    <operation name="IsPathIniFolder">
      <documentation>Checks LocalPath to see if is in an iFolder</documentation>
      <input message="s0:IsPathIniFolderSoapIn" />
      <output message="s0:IsPathIniFolderSoapOut" />
    </operation>
    <operation name="CreateLocaliFolder">
      <documentation>Create An iFolder. This will create an iFolder using the path specified.  The Path must exist or an exception will be thrown.</documentation>
      <input message="s0:CreateLocaliFolderSoapIn" />
      <output message="s0:CreateLocaliFolderSoapOut" />
    </operation>
    <operation name="CreateiFolderInDomain">
      <documentation>Create an iFolder. This will create an iFolder using the path specified.  The Path must exist or an exception will be thrown.</documentation>
      <input message="s0:CreateiFolderInDomainSoapIn" />
      <output message="s0:CreateiFolderInDomainSoapOut" />
    </operation>
    <operation name="GetiFolder">
      <documentation>Get An iFolder</documentation>
      <input message="s0:GetiFolderSoapIn" />
      <output message="s0:GetiFolderSoapOut" />
    </operation>
    <operation name="GetiFolderInvitation">
      <documentation>Get An iFolder</documentation>
      <input message="s0:GetiFolderInvitationSoapIn" />
      <output message="s0:GetiFolderInvitationSoapOut" />
    </operation>
    <operation name="GetiFolderByLocalPath">
      <documentation>Get An iFolder using a LocalPath</documentation>
      <input message="s0:GetiFolderByLocalPathSoapIn" />
      <output message="s0:GetiFolderByLocalPathSoapOut" />
    </operation>
    <operation name="DeleteiFolder">
      <documentation>Delete An iFolder</documentation>
      <input message="s0:DeleteiFolderSoapIn" />
      <output message="s0:DeleteiFolderSoapOut" />
    </operation>
    <operation name="RevertiFolder">
      <documentation>Revert an iFolder on the local computer but remain a member</documentation>
      <input message="s0:RevertiFolderSoapIn" />
      <output message="s0:RevertiFolderSoapOut" />
    </operation>
    <operation name="GetAlliFolders">
      <documentation>Returns all iFolders on the Server</documentation>
      <input message="s0:GetAlliFoldersSoapIn" />
      <output message="s0:GetAlliFoldersSoapOut" />
    </operation>
    <operation name="GetiFoldersForDomain">
      <documentation>Returns all iFolders in the specified domain</documentation>
      <input message="s0:GetiFoldersForDomainSoapIn" />
      <output message="s0:GetiFoldersForDomainSoapOut" />
    </operation>
    <operation name="GetiFolders">
      <documentation>Returns iFolders for the specified UserID</documentation>
      <input message="s0:GetiFoldersSoapIn" />
      <output message="s0:GetiFoldersSoapOut" />
    </operation>
    <operation name="SetUserRights">
      <documentation>Set the Rights of a member of an iFolder.  The Rights can be "Admin", "ReadOnly", or "ReadWrite".</documentation>
      <input message="s0:SetUserRightsSoapIn" />
      <output message="s0:SetUserRightsSoapOut" />
    </operation>
    <operation name="GetOwner">
      <documentation>Get the Owner of an iFolder</documentation>
      <input message="s0:GetOwnerSoapIn" />
      <output message="s0:GetOwnerSoapOut" />
    </operation>
    <operation name="ChangeOwner">
      <documentation>Changes the owner of an iFolder and sets the rights of the previous owner to the rights specified.</documentation>
      <input message="s0:ChangeOwnerSoapIn" />
      <output message="s0:ChangeOwnerSoapOut" />
    </operation>
    <operation name="RemoveiFolderUser">
      <documentation>Remove a single member from an iFolder</documentation>
      <input message="s0:RemoveiFolderUserSoapIn" />
      <output message="s0:RemoveiFolderUserSoapOut" />
    </operation>
    <operation name="GetiFolderUsers">
      <documentation>Get the list of iFolder Members</documentation>
      <input message="s0:GetiFolderUsersSoapIn" />
      <output message="s0:GetiFolderUsersSoapOut" />
    </operation>
    <operation name="GetDomainUsers">
      <documentation>Get a scoped list of iFolderUsers for the specified domain</documentation>
      <input message="s0:GetDomainUsersSoapIn" />
      <output message="s0:GetDomainUsersSoapOut" />
    </operation>
    <operation name="SearchForDomainUsers">
      <documentation>Search for a Member of a specified name in the specified domain.</documentation>
      <input message="s0:SearchForDomainUsersSoapIn" />
      <output message="s0:SearchForDomainUsersSoapOut" />
    </operation>
    <operation name="FindCloseiFolderMembers">
      <documentation>End the search for domain members.</documentation>
      <input message="s0:FindCloseiFolderMembersSoapIn" />
      <output message="s0:FindCloseiFolderMembersSoapOut" />
    </operation>
    <operation name="FindFirstiFolderMembers">
      <documentation>Starts a search for all domain members.</documentation>
      <input message="s0:FindFirstiFolderMembersSoapIn" />
      <output message="s0:FindFirstiFolderMembersSoapOut" />
    </operation>
    <operation name="FindFirstSpecificiFolderMembers">
      <documentation>Starts a search for a specific set of domain members.</documentation>
      <input message="s0:FindFirstSpecificiFolderMembersSoapIn" />
      <output message="s0:FindFirstSpecificiFolderMembersSoapOut" />
    </operation>
    <operation name="FindNextiFolderMembers">
      <documentation>Continues the search for domain members from the current record location.</documentation>
      <input message="s0:FindNextiFolderMembersSoapIn" />
      <output message="s0:FindNextiFolderMembersSoapOut" />
    </operation>
    <operation name="FindPreviousiFolderMembers">
      <documentation>Continues the search for domain members previous to the current record location.</documentation>
      <input message="s0:FindPreviousiFolderMembersSoapIn" />
      <output message="s0:FindPreviousiFolderMembersSoapOut" />
    </operation>
    <operation name="FindSeekiFolderMembers">
      <documentation>Continues the search for domain members from the specified record location.</documentation>
      <input message="s0:FindSeekiFolderMembersSoapIn" />
      <output message="s0:FindSeekiFolderMembersSoapOut" />
    </operation>
    <operation name="GetiFolderUser">
      <documentation>Lookup a single member to a collection</documentation>
      <input message="s0:GetiFolderUserSoapIn" />
      <output message="s0:GetiFolderUserSoapOut" />
    </operation>
    <operation name="GetiFolderUserFromNodeID">
      <documentation>Lookup a user in a collection based on node ID.</documentation>
      <input message="s0:GetiFolderUserFromNodeIDSoapIn" />
      <output message="s0:GetiFolderUserFromNodeIDSoapOut" />
    </operation>
    <operation name="AddAndInviteUser">
      <documentation>Invite a user to an iFolder.  This call will only work with Enterprise iFolders</documentation>
      <input message="s0:AddAndInviteUserSoapIn" />
      <output message="s0:AddAndInviteUserSoapOut" />
    </operation>
    <operation name="InviteUser">
      <documentation>Invite a user to an iFolder.  This call will only work with Enterprise iFolders</documentation>
      <input message="s0:InviteUserSoapIn" />
      <output message="s0:InviteUserSoapOut" />
    </operation>
    <operation name="AcceptiFolderInvitation">
      <documentation>Accept an invitation fo an iFolder.  The iFolder ID represents a Subscription object</documentation>
      <input message="s0:AcceptiFolderInvitationSoapIn" />
      <output message="s0:AcceptiFolderInvitationSoapOut" />
    </operation>
    <operation name="DeclineiFolderInvitation">
      <documentation>Decline an invitation to an iFolder.  The iFolder ID represents a Subscription object</documentation>
      <input message="s0:DeclineiFolderInvitationSoapIn" />
      <output message="s0:DeclineiFolderInvitationSoapOut" />
    </operation>
    <operation name="GetUserDiskSpace">
      <documentation>Gets the DiskSpaceQuota for a member</documentation>
      <input message="s0:GetUserDiskSpaceSoapIn" />
      <output message="s0:GetUserDiskSpaceSoapOut" />
    </operation>
    <operation name="GetiFolderDiskSpace">
      <documentation>Gets the DiskSpaceQuota for an iFolder</documentation>
      <input message="s0:GetiFolderDiskSpaceSoapIn" />
      <output message="s0:GetiFolderDiskSpaceSoapOut" />
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <documentation>Sets the Disk Space Limit for a user</documentation>
      <input message="s0:SetUserDiskSpaceLimitSoapIn" />
      <output message="s0:SetUserDiskSpaceLimitSoapOut" />
    </operation>
    <operation name="SetiFolderDiskSpaceLimit">
      <documentation>Sets the Disk Space Limit for an iFolder</documentation>
      <input message="s0:SetiFolderDiskSpaceLimitSoapIn" />
      <output message="s0:SetiFolderDiskSpaceLimitSoapOut" />
    </operation>
    <operation name="SetiFolderSyncInterval">
      <documentation>Sets the Sync Interval for an iFolder</documentation>
      <input message="s0:SetiFolderSyncIntervalSoapIn" />
      <output message="s0:SetiFolderSyncIntervalSoapOut" />
    </operation>
    <operation name="SetDefaultSyncInterval">
      <documentation>Sets the Default Sync Interval</documentation>
      <input message="s0:SetDefaultSyncIntervalSoapIn" />
      <output message="s0:SetDefaultSyncIntervalSoapOut" />
    </operation>
    <operation name="GetDefaultSyncInterval">
      <documentation>Gets the Default Sync Interval</documentation>
      <input message="s0:GetDefaultSyncIntervalSoapIn" />
      <output message="s0:GetDefaultSyncIntervalSoapOut" />
    </operation>
    <operation name="AuthenticateToDomain">
      <documentation>Connects to an iFolder Domain</documentation>
      <input message="s0:AuthenticateToDomainSoapIn" />
      <output message="s0:AuthenticateToDomainSoapOut" />
    </operation>
    <operation name="GetiFolderConflicts">
      <documentation>Connects to an iFolder Enterprise Server</documentation>
      <input message="s0:GetiFolderConflictsSoapIn" />
      <output message="s0:GetiFolderConflictsSoapOut" />
    </operation>
    <operation name="ResolveFileConflict">
      <documentation>Resolves a file conflict in an iFolder.</documentation>
      <input message="s0:ResolveFileConflictSoapIn" />
      <output message="s0:ResolveFileConflictSoapOut" />
    </operation>
    <operation name="ResolveNameConflict">
      <documentation>Resolves a name conflict</documentation>
      <input message="s0:ResolveNameConflictSoapIn" />
      <output message="s0:ResolveNameConflictSoapOut" />
    </operation>
    <operation name="RenameAndResolveConflict">
      <documentation>Renames a file and resolves a name conflict</documentation>
      <input message="s0:RenameAndResolveConflictSoapIn" />
      <output message="s0:RenameAndResolveConflictSoapOut" />
    </operation>
    <operation name="SetupProxy">
      <documentation>Sets up a proxy for iFolder to use</documentation>
      <input message="s0:SetupProxySoapIn" />
      <output message="s0:SetupProxySoapOut" />
    </operation>
    <operation name="RemoveProxy">
      <documentation>Removes proxy settings</documentation>
      <input message="s0:RemoveProxySoapIn" />
      <output message="s0:RemoveProxySoapOut" />
    </operation>
    <operation name="CalculateSyncSize">
      <documentation>Calculates the number of nodes and bytes that need to be sync'd.</documentation>
      <input message="s0:CalculateSyncSizeSoapIn" />
      <output message="s0:CalculateSyncSizeSoapOut" />
    </operation>
    <operation name="SynciFolderNow">
      <documentation>Sends a command to the sync engine to sync the iFolder of the specified ID.</documentation>
      <input message="s0:SynciFolderNowSoapIn" />
      <output message="s0:SynciFolderNowSoapOut" />
    </operation>
    <operation name="DeleteiFolderFileSizeLimit">
      <documentation>Delete a file size limit policy from an iFolder</documentation>
      <input message="s0:DeleteiFolderFileSizeLimitSoapIn" />
      <output message="s0:DeleteiFolderFileSizeLimitSoapOut" />
    </operation>
    <operation name="GetMemberiFolderFileSizeLimit">
      <documentation>Get a users file size limit on an iFolder</documentation>
      <input message="s0:GetMemberiFolderFileSizeLimitSoapIn" />
      <output message="s0:GetMemberiFolderFileSizeLimitSoapOut" />
    </operation>
    <operation name="GetiFolderFileSizeLimit">
      <documentation>Get the file size limit of an iFolder</documentation>
      <input message="s0:GetiFolderFileSizeLimitSoapIn" />
      <output message="s0:GetiFolderFileSizeLimitSoapOut" />
    </operation>
    <operation name="SetiFolderFileSizeLimit">
      <documentation>Set the file size limit of an iFolder</documentation>
      <input message="s0:SetiFolderFileSizeLimitSoapIn" />
      <output message="s0:SetiFolderFileSizeLimitSoapOut" />
    </operation>
    <operation name="CheckForUpdatedClient">
      <documentation>Check for an available update</documentation>
      <input message="s0:CheckForUpdatedClientSoapIn" />
      <output message="s0:CheckForUpdatedClientSoapOut" />
    </operation>
    <operation name="RunClientUpdate">
      <documentation>Run the client update</documentation>
      <input message="s0:RunClientUpdateSoapIn" />
      <output message="s0:RunClientUpdateSoapOut" />
    </operation>
  </portType>
  <binding name="iFolderWebServiceSoap" type="s0:iFolderWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Ping">
      <soap:operation soapAction="http://novell.com/ifolder/web/Ping" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsiFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CanBeiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/CanBeiFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsPathIniFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsPathIniFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateLocaliFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/CreateLocaliFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateiFolderInDomain">
      <soap:operation soapAction="http://novell.com/ifolder/web/CreateiFolderInDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderInvitation">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderInvitation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderByLocalPath">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderByLocalPath" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeleteiFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RevertiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/RevertiFolder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAlliFolders">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetAlliFolders" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFoldersForDomain">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFoldersForDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolders">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolders" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetUserRights">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetUserRights" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetOwner">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetOwner" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ChangeOwner">
      <soap:operation soapAction="http://novell.com/ifolder/web/ChangeOwner" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveiFolderUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/RemoveiFolderUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderUsers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDomainUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetDomainUsers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SearchForDomainUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/SearchForDomainUsers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindCloseiFolderMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindCloseiFolderMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindFirstiFolderMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindFirstiFolderMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindFirstSpecificiFolderMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindFirstSpecificiFolderMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindNextiFolderMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindNextiFolderMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindPreviousiFolderMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindPreviousiFolderMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindSeekiFolderMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindSeekiFolderMembers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderUserFromNodeID">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderUserFromNodeID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddAndInviteUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/AddAndInviteUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="InviteUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/InviteUser" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AcceptiFolderInvitation">
      <soap:operation soapAction="http://novell.com/ifolder/web/AcceptiFolderInvitation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeclineiFolderInvitation">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeclineiFolderInvitation" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUserDiskSpace">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetUserDiskSpace" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderDiskSpace">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderDiskSpace" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetUserDiskSpaceLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetUserDiskSpaceLimit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetiFolderDiskSpaceLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetiFolderDiskSpaceLimit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetiFolderSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetiFolderSyncInterval" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetDefaultSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetDefaultSyncInterval" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDefaultSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetDefaultSyncInterval" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuthenticateToDomain">
      <soap:operation soapAction="http://novell.com/ifolder/web/AuthenticateToDomain" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderConflicts">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderConflicts" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ResolveFileConflict">
      <soap:operation soapAction="http://novell.com/ifolder/web/ResolveFileConflict" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ResolveNameConflict">
      <soap:operation soapAction="http://novell.com/ifolder/web/ResolveNameConflict" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RenameAndResolveConflict">
      <soap:operation soapAction="http://novell.com/ifolder/web/RenameAndResolveConflict" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetupProxy">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetupProxy" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RemoveProxy">
      <soap:operation soapAction="http://novell.com/ifolder/web/RemoveProxy" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CalculateSyncSize">
      <soap:operation soapAction="http://novell.com/ifolder/web/CalculateSyncSize" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SynciFolderNow">
      <soap:operation soapAction="http://novell.com/ifolder/web/SynciFolderNow" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeleteiFolderFileSizeLimit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMemberiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetMemberiFolderFileSizeLimit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderFileSizeLimit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SetiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetiFolderFileSizeLimit" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckForUpdatedClient">
      <soap:operation soapAction="http://novell.com/ifolder/web/CheckForUpdatedClient" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RunClientUpdate">
      <soap:operation soapAction="http://novell.com/ifolder/web/RunClientUpdate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="iFolderWebService">
    <documentation>Web Service providing access to iFolder</documentation>
    <port name="iFolderWebServiceSoap" binding="s0:iFolderWebServiceSoap">
      <soap:address location="http://127.0.0.1:8086/simias10/iFolder.asmx" />
    </port>
  </service>
</definitions>