ifolder/src/WebService/iFolderWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://novell.com/ifolder/web/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://novell.com/ifolder/web/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://novell.com/ifolder/web/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsiFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanBeiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanBeiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanBeiFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPathIniFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPathIniFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPathIniFolderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLocaliFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLocaliFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateLocaliFolderResult" type="tns:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderWeb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocalIncarnation" type="s:unsignedLong" />
          <s:element minOccurs="0" maxOccurs="1" name="ManagedPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnManagedPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MasterIncarnation" type="s:unsignedLong" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EffectiveSyncInterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncInterval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Synchronizable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSubscription" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnumeratedState" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsWorkgroup" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HasConflicts" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentUserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentUserRights" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CollectionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastSyncTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateiFolderInDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateiFolderInDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateiFolderInDomainResult" type="tns:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderResult" type="tns:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderInvitation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="POBoxID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderInvitationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderInvitationResult" type="tns:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderByLocalPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderByLocalPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderByLocalPathResult" type="tns:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolderResponse">
        <s:complexType />
      </s:element>
      <s:element name="RevertiFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RevertiFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RevertiFolderResult" type="tns:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlliFolders">
        <s:complexType />
      </s:element>
      <s:element name="GetAlliFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlliFoldersResult" type="tns:ArrayOfIFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolderWeb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolderWeb" nillable="true" type="tns:iFolderWeb" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetiFoldersForDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFoldersForDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersForDomainResult" type="tns:ArrayOfIFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFoldersResult" type="tns:ArrayOfIFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserRightsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOwnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOwnerResult" type="tns:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOwner" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangeOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewOwnerUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldOwnerRights" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeOwnerResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveiFolderUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveiFolderUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetiFolderUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderUsersResult" type="tns:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIFolderUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="iFolderUser" nillable="true" type="tns:iFolderUser" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDomainUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numUsers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDomainUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDomainUsersResult" type="tns:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchForDomainUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SearchString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchForDomainUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchForDomainUsersResult" type="tns:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCloseMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCloseMembersResponse">
        <s:complexType />
      </s:element>
      <s:element name="FindFirstMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFirstMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindFirstMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="tns:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="totalMembers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFirstSpecificMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="operation" type="tns:SearchType" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="SearchType">
        <s:restriction base="s:string">
          <s:enumeration value="Equal" />
          <s:enumeration value="Not_Equal" />
          <s:enumeration value="Begins" />
          <s:enumeration value="Ends" />
          <s:enumeration value="Contains" />
          <s:enumeration value="Greater" />
          <s:enumeration value="Less" />
          <s:enumeration value="Greater_Equal" />
          <s:enumeration value="Less_Equal" />
          <s:enumeration value="Exists" />
          <s:enumeration value="CaseEqual" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FindFirstSpecificMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindFirstSpecificMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="tns:ArrayOfIFolderUser" />
            <s:element minOccurs="1" maxOccurs="1" name="totalMembers" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindNextMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindNextMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="tns:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPreviousMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="domainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindPreviousMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindPreviousMembersResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="searchContext" />
            <s:element minOccurs="0" maxOccurs="1" name="memberList" type="tns:ArrayOfIFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderUserResult" type="tns:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUserFromNodeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CollectionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NodeID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderUserFromNodeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderUserFromNodeIDResult" type="tns:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rights" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InviteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InviteUserResult" type="tns:iFolderUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptiFolderInvitation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LocalPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptiFolderInvitationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AcceptiFolderInvitationResult" type="tns:iFolderWeb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeclineiFolderInvitation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeclineiFolderInvitationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserDiskSpace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DiskSpace">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AvailableSpace" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="UsedSpace" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserDiskSpaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDiskSpaceResult" type="tns:DiskSpace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderDiskSpace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderDiskSpaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderDiskSpaceResult" type="tns:DiskSpace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserDiskSpaceLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserDiskSpaceLimitResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetiFolderDiskSpaceLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderDiskSpaceLimitResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetiFolderSyncInterval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Interval" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderSyncIntervalResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetDefaultSyncInterval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Interval" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultSyncIntervalResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultSyncInterval">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultSyncIntervalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDefaultSyncIntervalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateToDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DomainID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateToDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateToDomainResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderConflicts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Conflict">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConflictID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalSize" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalFullPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNameConflict" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerSize" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerFullPath" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConflict">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Conflict" nillable="true" type="tns:Conflict" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetiFolderConflictsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetiFolderConflictsResult" type="tns:ArrayOfConflict" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResolveFileConflict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conflictID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="localChangesWin" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResolveFileConflictResponse">
        <s:complexType />
      </s:element>
      <s:element name="ResolveNameConflict">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="conflictID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newLocalName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResolveNameConflictResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetupProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetupProxyResponse">
        <s:complexType />
      </s:element>
      <s:element name="RemoveProxy">
        <s:complexType />
      </s:element>
      <s:element name="RemoveProxyResponse">
        <s:complexType />
      </s:element>
      <s:element name="CalculateSyncSize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SyncSize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SyncNodeCount" type="s:unsignedInt" />
          <s:element minOccurs="1" maxOccurs="1" name="SyncByteCount" type="s:unsignedLong" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateSyncSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateSyncSizeResult" type="tns:SyncSize" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynciFolderNow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SynciFolderNowResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteiFolderFileSizeLimitResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMemberiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberiFolderFileSizeLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMemberiFolderFileSizeLimitResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetiFolderFileSizeLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetiFolderFileSizeLimitResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderFileSizeLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iFolderID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Limit" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetiFolderFileSizeLimitResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IsiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:IsiFolder" />
  </wsdl:message>
  <wsdl:message name="IsiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:IsiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="CanBeiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CanBeiFolder" />
  </wsdl:message>
  <wsdl:message name="CanBeiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CanBeiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IsPathIniFolderSoapIn">
    <wsdl:part name="parameters" element="tns:IsPathIniFolder" />
  </wsdl:message>
  <wsdl:message name="IsPathIniFolderSoapOut">
    <wsdl:part name="parameters" element="tns:IsPathIniFolderResponse" />
  </wsdl:message>
  <wsdl:message name="CreateLocaliFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLocaliFolder" />
  </wsdl:message>
  <wsdl:message name="CreateLocaliFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLocaliFolderResponse" />
  </wsdl:message>
  <wsdl:message name="CreateiFolderInDomainSoapIn">
    <wsdl:part name="parameters" element="tns:CreateiFolderInDomain" />
  </wsdl:message>
  <wsdl:message name="CreateiFolderInDomainSoapOut">
    <wsdl:part name="parameters" element="tns:CreateiFolderInDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolder" />
  </wsdl:message>
  <wsdl:message name="GetiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderInvitationSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderInvitation" />
  </wsdl:message>
  <wsdl:message name="GetiFolderInvitationSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderByLocalPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderByLocalPath" />
  </wsdl:message>
  <wsdl:message name="GetiFolderByLocalPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderByLocalPathResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteiFolder" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="RevertiFolderSoapIn">
    <wsdl:part name="parameters" element="tns:RevertiFolder" />
  </wsdl:message>
  <wsdl:message name="RevertiFolderSoapOut">
    <wsdl:part name="parameters" element="tns:RevertiFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetAlliFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlliFolders" />
  </wsdl:message>
  <wsdl:message name="GetAlliFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlliFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersForDomainSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFoldersForDomain" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersForDomainSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFoldersForDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolders" />
  </wsdl:message>
  <wsdl:message name="GetiFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserRightsSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserRights" />
  </wsdl:message>
  <wsdl:message name="SetUserRightsSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserRightsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOwnerSoapIn">
    <wsdl:part name="parameters" element="tns:GetOwner" />
  </wsdl:message>
  <wsdl:message name="GetOwnerSoapOut">
    <wsdl:part name="parameters" element="tns:GetOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeOwnerSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeOwner" />
  </wsdl:message>
  <wsdl:message name="ChangeOwnerSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveiFolderUserSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveiFolderUser" />
  </wsdl:message>
  <wsdl:message name="RemoveiFolderUserSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveiFolderUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderUsers" />
  </wsdl:message>
  <wsdl:message name="GetiFolderUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetDomainUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetDomainUsers" />
  </wsdl:message>
  <wsdl:message name="GetDomainUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetDomainUsersResponse" />
  </wsdl:message>
  <wsdl:message name="SearchForDomainUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchForDomainUsers" />
  </wsdl:message>
  <wsdl:message name="SearchForDomainUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchForDomainUsersResponse" />
  </wsdl:message>
  <wsdl:message name="FindCloseMembersSoapIn">
    <wsdl:part name="parameters" element="tns:FindCloseMembers" />
  </wsdl:message>
  <wsdl:message name="FindCloseMembersSoapOut">
    <wsdl:part name="parameters" element="tns:FindCloseMembersResponse" />
  </wsdl:message>
  <wsdl:message name="FindFirstMembersSoapIn">
    <wsdl:part name="parameters" element="tns:FindFirstMembers" />
  </wsdl:message>
  <wsdl:message name="FindFirstMembersSoapOut">
    <wsdl:part name="parameters" element="tns:FindFirstMembersResponse" />
  </wsdl:message>
  <wsdl:message name="FindFirstSpecificMembersSoapIn">
    <wsdl:part name="parameters" element="tns:FindFirstSpecificMembers" />
  </wsdl:message>
  <wsdl:message name="FindFirstSpecificMembersSoapOut">
    <wsdl:part name="parameters" element="tns:FindFirstSpecificMembersResponse" />
  </wsdl:message>
  <wsdl:message name="FindNextMembersSoapIn">
    <wsdl:part name="parameters" element="tns:FindNextMembers" />
  </wsdl:message>
  <wsdl:message name="FindNextMembersSoapOut">
    <wsdl:part name="parameters" element="tns:FindNextMembersResponse" />
  </wsdl:message>
  <wsdl:message name="FindPreviousMembersSoapIn">
    <wsdl:part name="parameters" element="tns:FindPreviousMembers" />
  </wsdl:message>
  <wsdl:message name="FindPreviousMembersSoapOut">
    <wsdl:part name="parameters" element="tns:FindPreviousMembersResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderUser" />
  </wsdl:message>
  <wsdl:message name="GetiFolderUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderUserFromNodeIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderUserFromNodeID" />
  </wsdl:message>
  <wsdl:message name="GetiFolderUserFromNodeIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderUserFromNodeIDResponse" />
  </wsdl:message>
  <wsdl:message name="InviteUserSoapIn">
    <wsdl:part name="parameters" element="tns:InviteUser" />
  </wsdl:message>
  <wsdl:message name="InviteUserSoapOut">
    <wsdl:part name="parameters" element="tns:InviteUserResponse" />
  </wsdl:message>
  <wsdl:message name="AcceptiFolderInvitationSoapIn">
    <wsdl:part name="parameters" element="tns:AcceptiFolderInvitation" />
  </wsdl:message>
  <wsdl:message name="AcceptiFolderInvitationSoapOut">
    <wsdl:part name="parameters" element="tns:AcceptiFolderInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="DeclineiFolderInvitationSoapIn">
    <wsdl:part name="parameters" element="tns:DeclineiFolderInvitation" />
  </wsdl:message>
  <wsdl:message name="DeclineiFolderInvitationSoapOut">
    <wsdl:part name="parameters" element="tns:DeclineiFolderInvitationResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDiskSpaceSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDiskSpace" />
  </wsdl:message>
  <wsdl:message name="GetUserDiskSpaceSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDiskSpaceResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderDiskSpaceSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderDiskSpace" />
  </wsdl:message>
  <wsdl:message name="GetiFolderDiskSpaceSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderDiskSpaceResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserDiskSpaceLimitSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserDiskSpaceLimit" />
  </wsdl:message>
  <wsdl:message name="SetUserDiskSpaceLimitSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserDiskSpaceLimitResponse" />
  </wsdl:message>
  <wsdl:message name="SetiFolderDiskSpaceLimitSoapIn">
    <wsdl:part name="parameters" element="tns:SetiFolderDiskSpaceLimit" />
  </wsdl:message>
  <wsdl:message name="SetiFolderDiskSpaceLimitSoapOut">
    <wsdl:part name="parameters" element="tns:SetiFolderDiskSpaceLimitResponse" />
  </wsdl:message>
  <wsdl:message name="SetiFolderSyncIntervalSoapIn">
    <wsdl:part name="parameters" element="tns:SetiFolderSyncInterval" />
  </wsdl:message>
  <wsdl:message name="SetiFolderSyncIntervalSoapOut">
    <wsdl:part name="parameters" element="tns:SetiFolderSyncIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="SetDefaultSyncIntervalSoapIn">
    <wsdl:part name="parameters" element="tns:SetDefaultSyncInterval" />
  </wsdl:message>
  <wsdl:message name="SetDefaultSyncIntervalSoapOut">
    <wsdl:part name="parameters" element="tns:SetDefaultSyncIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultSyncIntervalSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefaultSyncInterval" />
  </wsdl:message>
  <wsdl:message name="GetDefaultSyncIntervalSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefaultSyncIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateToDomainSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateToDomain" />
  </wsdl:message>
  <wsdl:message name="AuthenticateToDomainSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateToDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderConflictsSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderConflicts" />
  </wsdl:message>
  <wsdl:message name="GetiFolderConflictsSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderConflictsResponse" />
  </wsdl:message>
  <wsdl:message name="ResolveFileConflictSoapIn">
    <wsdl:part name="parameters" element="tns:ResolveFileConflict" />
  </wsdl:message>
  <wsdl:message name="ResolveFileConflictSoapOut">
    <wsdl:part name="parameters" element="tns:ResolveFileConflictResponse" />
  </wsdl:message>
  <wsdl:message name="ResolveNameConflictSoapIn">
    <wsdl:part name="parameters" element="tns:ResolveNameConflict" />
  </wsdl:message>
  <wsdl:message name="ResolveNameConflictSoapOut">
    <wsdl:part name="parameters" element="tns:ResolveNameConflictResponse" />
  </wsdl:message>
  <wsdl:message name="SetupProxySoapIn">
    <wsdl:part name="parameters" element="tns:SetupProxy" />
  </wsdl:message>
  <wsdl:message name="SetupProxySoapOut">
    <wsdl:part name="parameters" element="tns:SetupProxyResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveProxySoapIn">
    <wsdl:part name="parameters" element="tns:RemoveProxy" />
  </wsdl:message>
  <wsdl:message name="RemoveProxySoapOut">
    <wsdl:part name="parameters" element="tns:RemoveProxyResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateSyncSizeSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateSyncSize" />
  </wsdl:message>
  <wsdl:message name="CalculateSyncSizeSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateSyncSizeResponse" />
  </wsdl:message>
  <wsdl:message name="SynciFolderNowSoapIn">
    <wsdl:part name="parameters" element="tns:SynciFolderNow" />
  </wsdl:message>
  <wsdl:message name="SynciFolderNowSoapOut">
    <wsdl:part name="parameters" element="tns:SynciFolderNowResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderFileSizeLimitSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteiFolderFileSizeLimit" />
  </wsdl:message>
  <wsdl:message name="DeleteiFolderFileSizeLimitSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteiFolderFileSizeLimitResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberiFolderFileSizeLimitSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberiFolderFileSizeLimit" />
  </wsdl:message>
  <wsdl:message name="GetMemberiFolderFileSizeLimitSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberiFolderFileSizeLimitResponse" />
  </wsdl:message>
  <wsdl:message name="GetiFolderFileSizeLimitSoapIn">
    <wsdl:part name="parameters" element="tns:GetiFolderFileSizeLimit" />
  </wsdl:message>
  <wsdl:message name="GetiFolderFileSizeLimitSoapOut">
    <wsdl:part name="parameters" element="tns:GetiFolderFileSizeLimitResponse" />
  </wsdl:message>
  <wsdl:message name="SetiFolderFileSizeLimitSoapIn">
    <wsdl:part name="parameters" element="tns:SetiFolderFileSizeLimit" />
  </wsdl:message>
  <wsdl:message name="SetiFolderFileSizeLimitSoapOut">
    <wsdl:part name="parameters" element="tns:SetiFolderFileSizeLimitResponse" />
  </wsdl:message>
  <wsdl:portType name="iFolderWebServiceSoap">
    <wsdl:operation name="Ping">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Allows a client to ping to make sure the Web Service is up and running</documentation>
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Checks a LocalPath to see if it's an iFolder</documentation>
      <wsdl:input message="tns:IsiFolderSoapIn" />
      <wsdl:output message="tns:IsiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CanBeiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Checks LocalPath to see if can be an iFolder</documentation>
      <wsdl:input message="tns:CanBeiFolderSoapIn" />
      <wsdl:output message="tns:CanBeiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPathIniFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Checks LocalPath to see if is in an iFolder</documentation>
      <wsdl:input message="tns:IsPathIniFolderSoapIn" />
      <wsdl:output message="tns:IsPathIniFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateLocaliFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create An iFolder. This will create an iFolder using the path specified.  The Path must exist or an exception will be thrown.</documentation>
      <wsdl:input message="tns:CreateLocaliFolderSoapIn" />
      <wsdl:output message="tns:CreateLocaliFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateiFolderInDomain">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Create an iFolder. This will create an iFolder using the path specified.  The Path must exist or an exception will be thrown.</documentation>
      <wsdl:input message="tns:CreateiFolderInDomainSoapIn" />
      <wsdl:output message="tns:CreateiFolderInDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get An iFolder</documentation>
      <wsdl:input message="tns:GetiFolderSoapIn" />
      <wsdl:output message="tns:GetiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderInvitation">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get An iFolder</documentation>
      <wsdl:input message="tns:GetiFolderInvitationSoapIn" />
      <wsdl:output message="tns:GetiFolderInvitationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderByLocalPath">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get An iFolder using a LocalPath</documentation>
      <wsdl:input message="tns:GetiFolderByLocalPathSoapIn" />
      <wsdl:output message="tns:GetiFolderByLocalPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Delete An iFolder</documentation>
      <wsdl:input message="tns:DeleteiFolderSoapIn" />
      <wsdl:output message="tns:DeleteiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RevertiFolder">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Revert an iFolder on the local computer but remain a member</documentation>
      <wsdl:input message="tns:RevertiFolderSoapIn" />
      <wsdl:output message="tns:RevertiFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAlliFolders">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns all iFolders on the Server</documentation>
      <wsdl:input message="tns:GetAlliFoldersSoapIn" />
      <wsdl:output message="tns:GetAlliFoldersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFoldersForDomain">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns all iFolders in the specified domain</documentation>
      <wsdl:input message="tns:GetiFoldersForDomainSoapIn" />
      <wsdl:output message="tns:GetiFoldersForDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolders">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns iFolders for the specified UserID</documentation>
      <wsdl:input message="tns:GetiFoldersSoapIn" />
      <wsdl:output message="tns:GetiFoldersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserRights">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the Rights of a member of an iFolder.  The Rights can be "Admin", "ReadOnly", or "ReadWrite".</documentation>
      <wsdl:input message="tns:SetUserRightsSoapIn" />
      <wsdl:output message="tns:SetUserRightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOwner">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the Owner of an iFolder</documentation>
      <wsdl:input message="tns:GetOwnerSoapIn" />
      <wsdl:output message="tns:GetOwnerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOwner">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Changes the owner of an iFolder and sets the rights of the previous owner to the rights specified.</documentation>
      <wsdl:input message="tns:ChangeOwnerSoapIn" />
      <wsdl:output message="tns:ChangeOwnerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveiFolderUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Remove a single member from an iFolder</documentation>
      <wsdl:input message="tns:RemoveiFolderUserSoapIn" />
      <wsdl:output message="tns:RemoveiFolderUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the list of iFolder Members</documentation>
      <wsdl:input message="tns:GetiFolderUsersSoapIn" />
      <wsdl:output message="tns:GetiFolderUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDomainUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a scoped list of iFolderUsers for the specified domain</documentation>
      <wsdl:input message="tns:GetDomainUsersSoapIn" />
      <wsdl:output message="tns:GetDomainUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchForDomainUsers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Search for a Member of a specified name in the specified domain.</documentation>
      <wsdl:input message="tns:SearchForDomainUsersSoapIn" />
      <wsdl:output message="tns:SearchForDomainUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCloseMembers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Ends the search for the members in a specified domain.</documentation>
      <wsdl:input message="tns:FindCloseMembersSoapIn" />
      <wsdl:output message="tns:FindCloseMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindFirstMembers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Start the search for all of the members in a specified domain.</documentation>
      <wsdl:input message="tns:FindFirstMembersSoapIn" />
      <wsdl:output message="tns:FindFirstMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindFirstSpecificMembers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Start the search for specific members in a specified domain.</documentation>
      <wsdl:input message="tns:FindFirstSpecificMembersSoapIn" />
      <wsdl:output message="tns:FindFirstSpecificMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindNextMembers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Continues the search for the next members in a specified domain.</documentation>
      <wsdl:input message="tns:FindNextMembersSoapIn" />
      <wsdl:output message="tns:FindNextMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindPreviousMembers">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Continues the search for the previous members in a specified domain.</documentation>
      <wsdl:input message="tns:FindPreviousMembersSoapIn" />
      <wsdl:output message="tns:FindPreviousMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Lookup a single member to a collection</documentation>
      <wsdl:input message="tns:GetiFolderUserSoapIn" />
      <wsdl:output message="tns:GetiFolderUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderUserFromNodeID">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Lookup a user in a collection based on node ID.</documentation>
      <wsdl:input message="tns:GetiFolderUserFromNodeIDSoapIn" />
      <wsdl:output message="tns:GetiFolderUserFromNodeIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InviteUser">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Invite a user to an iFolder.  This call will only work with Enterprise iFolders</documentation>
      <wsdl:input message="tns:InviteUserSoapIn" />
      <wsdl:output message="tns:InviteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcceptiFolderInvitation">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Accept an invitation fo an iFolder.  The iFolder ID represents a Subscription object</documentation>
      <wsdl:input message="tns:AcceptiFolderInvitationSoapIn" />
      <wsdl:output message="tns:AcceptiFolderInvitationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeclineiFolderInvitation">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Decline an invitation to an iFolder.  The iFolder ID represents a Subscription object</documentation>
      <wsdl:input message="tns:DeclineiFolderInvitationSoapIn" />
      <wsdl:output message="tns:DeclineiFolderInvitationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDiskSpace">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the DiskSpaceQuota for a member</documentation>
      <wsdl:input message="tns:GetUserDiskSpaceSoapIn" />
      <wsdl:output message="tns:GetUserDiskSpaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderDiskSpace">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the DiskSpaceQuota for an iFolder</documentation>
      <wsdl:input message="tns:GetiFolderDiskSpaceSoapIn" />
      <wsdl:output message="tns:GetiFolderDiskSpaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserDiskSpaceLimit">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sets the Disk Space Limit for a user</documentation>
      <wsdl:input message="tns:SetUserDiskSpaceLimitSoapIn" />
      <wsdl:output message="tns:SetUserDiskSpaceLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetiFolderDiskSpaceLimit">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sets the Disk Space Limit for an iFolder</documentation>
      <wsdl:input message="tns:SetiFolderDiskSpaceLimitSoapIn" />
      <wsdl:output message="tns:SetiFolderDiskSpaceLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetiFolderSyncInterval">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sets the Sync Interval for an iFolder</documentation>
      <wsdl:input message="tns:SetiFolderSyncIntervalSoapIn" />
      <wsdl:output message="tns:SetiFolderSyncIntervalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultSyncInterval">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sets the Default Sync Interval</documentation>
      <wsdl:input message="tns:SetDefaultSyncIntervalSoapIn" />
      <wsdl:output message="tns:SetDefaultSyncIntervalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultSyncInterval">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Gets the Default Sync Interval</documentation>
      <wsdl:input message="tns:GetDefaultSyncIntervalSoapIn" />
      <wsdl:output message="tns:GetDefaultSyncIntervalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateToDomain">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Connects to an iFolder Domain</documentation>
      <wsdl:input message="tns:AuthenticateToDomainSoapIn" />
      <wsdl:output message="tns:AuthenticateToDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderConflicts">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Connects to an iFolder Enterprise Server</documentation>
      <wsdl:input message="tns:GetiFolderConflictsSoapIn" />
      <wsdl:output message="tns:GetiFolderConflictsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResolveFileConflict">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Resolves a file conflict in an iFolder.</documentation>
      <wsdl:input message="tns:ResolveFileConflictSoapIn" />
      <wsdl:output message="tns:ResolveFileConflictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResolveNameConflict">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Resolves a name conflict</documentation>
      <wsdl:input message="tns:ResolveNameConflictSoapIn" />
      <wsdl:output message="tns:ResolveNameConflictSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetupProxy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sets up a proxy for iFolder to use</documentation>
      <wsdl:input message="tns:SetupProxySoapIn" />
      <wsdl:output message="tns:SetupProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProxy">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Removes proxy settings</documentation>
      <wsdl:input message="tns:RemoveProxySoapIn" />
      <wsdl:output message="tns:RemoveProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateSyncSize">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Calculates the number of nodes and bytes that need to be sync'd.</documentation>
      <wsdl:input message="tns:CalculateSyncSizeSoapIn" />
      <wsdl:output message="tns:CalculateSyncSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SynciFolderNow">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Sends a command to the sync engine to sync the iFolder of the specified ID.</documentation>
      <wsdl:input message="tns:SynciFolderNowSoapIn" />
      <wsdl:output message="tns:SynciFolderNowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolderFileSizeLimit">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Delete a file size limit policy from an iFolder</documentation>
      <wsdl:input message="tns:DeleteiFolderFileSizeLimitSoapIn" />
      <wsdl:output message="tns:DeleteiFolderFileSizeLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberiFolderFileSizeLimit">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get a users file size limit on an iFolder</documentation>
      <wsdl:input message="tns:GetMemberiFolderFileSizeLimitSoapIn" />
      <wsdl:output message="tns:GetMemberiFolderFileSizeLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetiFolderFileSizeLimit">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the file size limit of an iFolder</documentation>
      <wsdl:input message="tns:GetiFolderFileSizeLimitSoapIn" />
      <wsdl:output message="tns:GetiFolderFileSizeLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetiFolderFileSizeLimit">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Set the file size limit of an iFolder</documentation>
      <wsdl:input message="tns:SetiFolderFileSizeLimitSoapIn" />
      <wsdl:output message="tns:SetiFolderFileSizeLimitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iFolderWebServiceSoap" type="tns:iFolderWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://novell.com/ifolder/web/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanBeiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/CanBeiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPathIniFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/IsPathIniFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLocaliFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/CreateLocaliFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateiFolderInDomain">
      <soap:operation soapAction="http://novell.com/ifolder/web/CreateiFolderInDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderInvitation">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderInvitation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderByLocalPath">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderByLocalPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeleteiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevertiFolder">
      <soap:operation soapAction="http://novell.com/ifolder/web/RevertiFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlliFolders">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetAlliFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFoldersForDomain">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFoldersForDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolders">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserRights">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetUserRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOwner">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOwner">
      <soap:operation soapAction="http://novell.com/ifolder/web/ChangeOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveiFolderUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/RemoveiFolderUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomainUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetDomainUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForDomainUsers">
      <soap:operation soapAction="http://novell.com/ifolder/web/SearchForDomainUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCloseMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindCloseMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFirstMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindFirstMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFirstSpecificMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindFirstSpecificMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindNextMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindNextMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPreviousMembers">
      <soap:operation soapAction="http://novell.com/ifolder/web/FindPreviousMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderUserFromNodeID">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderUserFromNodeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviteUser">
      <soap:operation soapAction="http://novell.com/ifolder/web/InviteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptiFolderInvitation">
      <soap:operation soapAction="http://novell.com/ifolder/web/AcceptiFolderInvitation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclineiFolderInvitation">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeclineiFolderInvitation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDiskSpace">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetUserDiskSpace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderDiskSpace">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderDiskSpace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserDiskSpaceLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetUserDiskSpaceLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetiFolderDiskSpaceLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetiFolderDiskSpaceLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetiFolderSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetiFolderSyncInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetDefaultSyncInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultSyncInterval">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetDefaultSyncInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateToDomain">
      <soap:operation soapAction="http://novell.com/ifolder/web/AuthenticateToDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderConflicts">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderConflicts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveFileConflict">
      <soap:operation soapAction="http://novell.com/ifolder/web/ResolveFileConflict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveNameConflict">
      <soap:operation soapAction="http://novell.com/ifolder/web/ResolveNameConflict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetupProxy">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetupProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProxy">
      <soap:operation soapAction="http://novell.com/ifolder/web/RemoveProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateSyncSize">
      <soap:operation soapAction="http://novell.com/ifolder/web/CalculateSyncSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SynciFolderNow">
      <soap:operation soapAction="http://novell.com/ifolder/web/SynciFolderNow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/DeleteiFolderFileSizeLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetMemberiFolderFileSizeLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/GetiFolderFileSizeLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetiFolderFileSizeLimit">
      <soap:operation soapAction="http://novell.com/ifolder/web/SetiFolderFileSizeLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iFolderWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Web Service providing access to iFolder</documentation>
    <wsdl:port name="iFolderWebServiceSoap" binding="tns:iFolderWebServiceSoap">
      <soap:address location="http://127.0.0.1:8086/simias10/iFolder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>