simias/src/api/WebService/SimiasAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:s="http://www.w3.org/2001/XMLSchema"
      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
      xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
      xmlns:s0="http://novell.com/simiasapi/web/" name="SimiasAPIService"
      targetNamespace="http://novell.com/simiasapi/web/"
      xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified"
          targetNamespace="http://novell.com/simiasapi/web/"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Ping">
        <xs:complexType/>
      </xs:element>
      <xs:element name="PingResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="GetDomains">
        <xs:complexType/>
      </xs:element>
      <xs:element name="GetDomainsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GetDomainsResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="string" type="xs:string"/>
    </xs:schema>
  </types>
  <message name="PingSoapIn">
    <part name="parameters" element="s0:Ping"/>
  </message>
  <message name="PingSoapOut">
    <part name="parameters" element="s0:PingResponse"/>
  </message>
  <message name="GetDomainsSoapIn">
    <part name="parameters" element="s0:GetDomains"/>
  </message>
  <message name="GetDomainsSoapOut">
    <part name="parameters" element="s0:GetDomainsResponse"/>
  </message>
  <message name="PingHttpGetIn"/>
  <message name="PingHttpGetOut"/>
  <message name="GetDomainsHttpGetIn"/>
  <message name="GetDomainsHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="PingHttpPostIn"/>
  <message name="PingHttpPostOut"/>
  <message name="GetDomainsHttpPostIn"/>
  <message name="GetDomainsHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <portType name="SimiasAPIServiceSoap">
    <operation name="Ping">
      <input message="s0:PingSoapIn"/>
      <output message="s0:PingSoapOut"/>
      <documentation>Allows a client to ping to make sure the Web Service is up and
            running</documentation>
    </operation>
    <operation name="GetDomains">
      <input message="s0:GetDomainsSoapIn"/>
      <output message="s0:GetDomainsSoapOut"/>
      <documentation>Returns all domains in Simias with optional only slaves</documentation>
    </operation>
  </portType>
  <portType name="SimiasAPIServiceHttpGet">
    <operation name="Ping">
      <input message="s0:PingHttpGetIn"/>
      <output message="s0:PingHttpGetOut"/>
      <documentation>Allows a client to ping to make sure the Web Service is up and
            running</documentation>
    </operation>
    <operation name="GetDomains">
      <input message="s0:GetDomainsHttpGetIn"/>
      <output message="s0:GetDomainsHttpGetOut"/>
      <documentation>Returns all domains in Simias with optional only slaves</documentation>
    </operation>
  </portType>
  <portType name="SimiasAPIServiceHttpPost">
    <operation name="Ping">
      <input message="s0:PingHttpPostIn"/>
      <output message="s0:PingHttpPostOut"/>
      <documentation>Allows a client to ping to make sure the Web Service is up and
            running</documentation>
    </operation>
    <operation name="GetDomains">
      <input message="s0:GetDomainsHttpPostIn"/>
      <output message="s0:GetDomainsHttpPostOut"/>
      <documentation>Returns all domains in Simias with optional only slaves</documentation>
    </operation>
  </portType>
  <binding name="SimiasAPIServiceSoap" type="s0:SimiasAPIServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Ping">
      <soap:operation soapAction="http://novell.com/simiasapi/web/Ping" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetDomains">
      <soap:operation soapAction="http://novell.com/simiasapi/web/GetDomains" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="SimiasAPIServiceHttpGet" type="s0:SimiasAPIServiceHttpGet">
    <http:binding verb="GET"/>
    <operation name="Ping">
      <http:operation location="/Ping"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output/>
    </operation>
    <operation name="GetDomains">
      <http:operation location="/GetDomains"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <binding name="SimiasAPIServiceHttpPost" type="s0:SimiasAPIServiceHttpPost">
    <http:binding verb="POST"/>
    <operation name="Ping">
      <http:operation location="/Ping"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output/>
    </operation>
    <operation name="GetDomains">
      <http:operation location="/GetDomains"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <service name="SimiasAPIService">
    <port name="SimiasAPIServiceSoap" binding="s0:SimiasAPIServiceSoap">
      <soap:address location="http://127.0.0.1:8086/simias10/SimiasAPI.asmx"/>
    </port>
    <port name="SimiasAPIServiceHttpGet" binding="s0:SimiasAPIServiceHttpGet">
      <http:address location="http://127.0.0.1:8086/simias10/SimiasAPI.asmx"/>
    </port>
    <port name="SimiasAPIServiceHttpPost" binding="s0:SimiasAPIServiceHttpPost">
      <http:address location="http://127.0.0.1:8086/simias10/SimiasAPI.asmx"/>
    </port>
    <documentation>Web Service providing access to SimiasAPI</documentation>
  </service>
</definitions>

